<!-- RHS extra -->

<div id="UKAPWlinks">
    <h2>Institute links</h2>
    <!-- InstanceBeginEditable name="FIA_Links" -->
    <div class="info">
    <div>In late 2010 I spoke at length to Michael Scanlon of the Profession's communications division. And of course there's always the UKAPW's webmaster.</div>
    <ul>
    <li><a href="mailto:michael.scanlan@actuaries.org.uk">Email Michael Scanlan</a></li>
    <li><a href="mailto:webservices@actuaries.org.uk">Email UKAPW's webservices</a></li>
    </ul>
    <p>Since then I've spoken to Ronnie Bowie and Nigel Masters. I await their response.</p>
    </div>

</div> <!-- end UKAPWlinks -->

<!-- RHS extra -->

<div id="Extlinks">
    <h2>Other external links</h2>
    <div class="info">
        <ul>
        <li><a href="http://blogs.fasthosts.co.uk/2011/02/10-tips-to-design-a-brilliant-contact-us-page/" rel="external">How to write a brilliant "contact us" page</a></li>
        <li><a href="http://rosenfeldmedia.com/books/webforms/" rel="external">Web form design</a></li>
        <li><a href="http://www.managedluck.co.uk/mlcontact.shtml" rel="external">An unusual but smart contact form</a></li>
        <li>Matthew Leitch's websites</li>
        <li><a href="http://www.dynamicmanagement.me.uk/" rel="external">Dynamic management</a></li>
        <li><a href="http://www.internalcontrolsdesign.co.uk/" rel="external">Internal controls design</a></li>
        <li><a href="http://www.managedluck.co.uk/" rel="external">Managed luck</a></li>
        <li><a href="http://www.workinginuncertainty.co.uk/" rel="external">Working in uncertainty</a></li>
        <li><a href="http://www.learningideas.me.uk/" rel="external">Learning ideas</a></li>
        <li><a href="http://www.learningideas.me.uk/ma/" rel="external">Maths accelerator</a></li>
        </ul>
        </div>
</div> <!-- close ExtLinks -->
