<!-- RHS extra -->

<div id="UKAPWlinks">
    <h2>Institute links</h2>
    <div class="info">
        <p>None that I'm aware of; I've yet to write a Sessional or SIAS paper, though I have presented at the Life Conference.</p>
    </div>
</div> <!-- end UKAPWlinks -->

<!-- RHS extra -->

<div id="Extlinks">
    <h2>Other external links</h2>
    <div class="info">
        <div>A few interesting books:</div>
        <ul>
        <li><a href="http://www.amazon.co.uk/Competitive-Advantage-Michael-Porter/dp/0743260872/ref=sr_1_3?s=books&amp;ie=UTF8&amp;qid=1291371171&amp;sr=1-3" rel="external">Competitive advantage</a></li>
        <li><a href="http://www.amazon.co.uk/Competitive-Strategy-Techniques-Industries-Competitors/dp/0743260880/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1291371171&amp;sr=1-1" rel="external">Competitive strategy</a></li>
        <li><a href="http://www.amazon.co.uk/Co-Opetition-Adam-Brandenburger/dp/0385479506/ref=sr_1_2?s=books&amp;ie=UTF8&amp;qid=1291371250&amp;sr=1-2" rel="external">Coopetition</a></li>
        <li><a href="http://www.amazon.co.uk/Even-More-Offensive-Marketing-Exhilarating/dp/0140256911/ref=sr_1_1?ie=UTF8&amp;qid=1291370770&amp;sr=8-1">Even More Offensive Marketing</a></li>
        <li><a href="http://www.amazon.co.uk/Inbound-Marketing-Found-Google-Social/dp/0470499311/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1291370969&amp;sr=1-1" rel="external">Inbound marketing</a></li>
        </ul>
    </div>

    <h2>More on Andrew Howe</h2>
    <div class="info">
    <h2>Companies I've worked for</h2>
    
    <ul>
    <li>2007-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <a href="http://www.lucidaplc.com" rel="external">Lucida</a></li>
    <li>2004-2007: <a href="http://www.munichre.co.uk" rel="external">Munich Re (UK)</a></li>
    <li>2001-2004: <a href="http://www.landg.com" rel="external">Legal &amp; General</a></li>
    <li>2000-2001: Easylife Protection</li>
    <li>1996-2000: Swiss Life (UK)</li>
    <li>1990-1996: M&amp;G Re</li>
    <li>1988-1990: <a href="http://www.gchq.gov.uk/" rel="external">GCHQ</a></li>
    </ul>
    
    <h2>Qualifications</h2>
    <ul>
    <li>FIA (1994)</li>
    <li>1st class maths degree (Keble, Oxford)</li>
    </ul>
    
    
    <h2>My interests: three pillars</h2>
    
    <div>I have three "work-like" areas of interest:</div>
    <ol>
    <li><strong>Actuarial work:</strong> mainly proposition development and risk management.</li>
    <li><strong>Personal finance:</strong> this includes investment and personal debt management.</li>
    <li><strong>Innovation and business on the web:</strong> Future webventures: see below</li>
    </ol>
    
    </div>
    
    <h2>Future webventures</h2>
    <div class="info">
    <h2>Risk management</h2>
    <div>Topics of interest to me include:</div>
    <ol>
    <li>The value of risk management and ERM</li>
    <li>Application to non-financial firms</li>
    <li>The "holistic" treatment of risk: i.e. beyond capital and correlations and into dependency and management actions</li>
    <li>Applying ERM to "upside" and "limited downside" risk: 1 in 10 not 1 in 200</li>
    <li>Valuing controls</li>
    <li>What is "good risk management"?</li>
    <li>ERM: the actuarial contribution</li>
    <li>A bibliography</li>
    </ol>
    <div>The ERM site may be largely pointers to other material. I intend to highlight contributions from the following
     risk management experts:</div>
    <ul>
    <li><a href="http://riskviews.wordpress.com/contributors/dave-ingram/" rel="external">Dave Ingram</a></li>
    <li><a href="http://www.actuarialfoundation.org/pdf/Panning-Sept06.pdf" rel="external">Bill Panning</a></li>
    <li>Matthew Leitch
        <ul>
        <li><a href="http://www.dynamicmanagement.me.uk/" rel="external">Dynamic management</a></li>
        <li><a href="http://www.internalcontrolsdesign.co.uk/" rel="external">Internal controls design</a></li>
        <li><a href="http://www.managedluck.co.uk/" rel="external">Managed luck</a></li>
        <li><a href="http://www.workinginuncertainty.co.uk/" rel="external">Working in uncertainty</a></li>
        </ul>
    </li>
    </ul>
    
    <h2>Personal debt management</h2>
    <div>Information and online calculations, highlighting free resources, including:</div>
    <ul>
    <li><a href="http://www.cccs.co.uk/Home.aspx" rel="external">CCCS</a></li>
    <li><a href="http://www.citizensadvice.org.uk/" rel="external">Citizens Advice Bureau</a></li>
    <li><a href="http://www.capuk.org/home/index.php" rel="external">Christians Against Poverty</a></li>
    <li><a href="http://www.elizabethfinncare.org.uk/" rel="external">Elizabeth Finn Care</a></li>
    <li><a href="http://www.nationaldebtline.co.uk/" rel="external">National Debtline</a></li>
    <li><a href="http://www.turn2us.org.uk/" rel="external">Turn2us</a></li>
    <li><a href="http://www.wkda.org.uk/" rel="external">West Kent Debt Advice</a></li>
    </ul>
    </div>
    
    <h2>Looking for another Andrew Howe?</h2>
    <div class="info">
    <ul>
    <li><a href="http://www.andrewhowe.co.uk/" rel="external">Andrew Howe Photography</a></li>
    <li><a href="http://www.andrewhowe.it/" rel="external">Andrew Howe - Italian athlete</a></li>
    </ul>
    </div>


</div> <!-- close ExtLinks -->
