<!-- RHS extra -->

<div id="UKAPWlinks">
    <h2>Institute links</h2>
    <div class="info"><p>Not surprisingly the Profession has nothing to say about this site (yet) or my webventures. But in the meantime I'll give you some hand-picked risk management resources.</p></div>
</div> <!-- end UKAPWlinks -->

<!-- RHS extra -->

<div id="Extlinks">
    <h2>Other external links</h2>
    <div class="info">
        <div>Here are some links relating to my potentail webventures under [3.1] and [3.2] to the left:</div>
        <h2>Enterprise risk management</h2>
        <ul>
            <li>Enterprise risk management (ERM)</li>
            <li><a href="http://www.actuaries.org.uk/practice-areas/pages/enterprise-risk-management" rel="external">ERM landing page</a></li>
            <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/enterprise-risk-management-its-origins-and-conceptual-foundation" rel="external">The origins of ERM</a></li>
            <li>Actuaries</li>
            <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/personal-view-risk-management-non-financial-corporates-insurance-an" rel="external">Good ERM: making money safely</a></li>
            <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/actuaries-and-erm" rel="external">Actuaries and ERM</a></li>
            <li><a href="http://www.actuaries.org.uk/students/pages/st9-enterprise-risk-management-specialist-technical" rel="external">ST9: ERM specialist technical</a></li>
            <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/obtaining-designation-chartered-enterprise-risk-actuary-cera" rel="external">Obtaining the CERA qualification</a></li>    
            <li>Insurance ERM</li>
        <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/insurance-criteria-evaluating-enterprise-risk-management-practices-" rel="external">Evaluating the ERM practices of insurers</a></li>
            <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/governance-and-risk-management-uk-insurance-companies" rel="external">Governance in UK insurance companies</a></li>
            <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/practice-note-enterprise-risk-management-erm-capital-and-solvency-p" rel="external">Insurance industry ERM (IAA)</a></li>
        
            <li>Pensions and other ERM</li>
            <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/entity-wide-risk-management-pension-funds" rel="external">Pension funds ERM</a></li>
            <li><a href="http://www.sias.org.uk/diary/view_meeting?id=October2010" rel="external">Risk Management for DB Pension Funds</a></li>
            <li><a href="http://www2.standardandpoors.com/spf/pdf/fixedincome/615344ERM%20Analysis.pdf" rel="external">ERM and ratings for non-financial firms</a></li>
        </ul>
        
        <h2>Risk management experts</h2>
        <ul>
        <li><a href="http://riskviews.wordpress.com/contributors/dave-ingram/" rel="external">Dave Ingram</a></li>
        <li><a href="http://www.casact.org/research/erm/" rel="external">Bill Panning</a></li>
        <li>Matthew Leitch
            <ul>
            <li><a href="http://www.dynamicmanagement.me.uk/" rel="external">Dynamic management</a></li>
            <li><a href="http://www.internalcontrolsdesign.co.uk/" rel="external">Internal controls design</a></li>
            <li><a href="http://www.managedluck.co.uk/" rel="external">Managed luck</a></li>
            <li><a href="http://www.workinginuncertainty.co.uk/" rel="external">Working in uncertainty</a></li>
            </ul>
        </li>
        </ul>
        </div>
        
        <h2>Personal debt management</h2>
        <div class="info">
        <ul>
        <li><a href="http://www.cccs.co.uk/Home.aspx" rel="external">CCCS</a></li>
        <li><a href="http://www.citizensadvice.org.uk/" rel="external">Citizens Advice Bureau</a></li>
        <li><a href="http://www.capuk.org/home/index.php" rel="external">Christians Against Poverty</a></li>
        <li><a href="http://www.nationaldebtline.co.uk/" rel="external">National Debtline</a></li>
        <li><a href="http://www.wkda.org.uk/" rel="external">West Kent Debt Advice</a></li>
        </ul>
        
        </div>
</div> <!-- close ExtLinks -->
