<!-- RHS extra -->

<div id="UKAPWlinks">
    <h2>Institute links</h2>
    <div class="info">
        <ul>
        <li><a href="http://www.actuaries.org.uk/sitemap" rel="external">Current UKAPW sitemap</a></li>
        <li><a href="http://www.actuaries.org.uk/pages/site-features" rel="external">UKAPW site features</a></li>
        </ul>
    </div>
</div> <!-- end UKAPWlinks -->

<!-- RHS extra -->

<div id="Extlinks">
    <h2>Other external links</h2>
    <div class="info">
        <ul>
            <li><a href="http://www.useit.com/alertbox/sitemaps.html" rel="external">Jakob Nielsen's key sitemap points</a></li>
            <li><a href="http://www.moneyadviceservice.org.uk/sitemap.aspx" rel="external">Money advice service</a> (great show/hide)</li>
        </ul>
        
        <div>Case studies keep the sitemaps simple:</div>
        <ul>
            <li><a href="http://www.airmic.com/sitemap" rel="external">AIRMIC sitemap</a></li>
            <li><a href="http://www.bankofengland.co.uk/sitemap.htm" rel="external">Bank of England sitemap</a></li>
            <li>Society of Actuaries don't have a sitemap</li>
            <li><a href="http://www.qfinance.com/sitemap" rel="external">QFinance sitemap</a></li>
        </ul>
        </div>
</div> <!-- close ExtLinks -->
