<!-- RHS extra -->
<div id="UKAPWlinks">
    <h2>Institute links</h2>
    <div class="info">
        <div>About the UKAPW redesign:</div>
            <ul>
                <li><a href="http://www.living-group.com/project.html?projectid=53" rel="external">The Living Group developed UKAPW</a></li>
                <li><a href="http://www.living-group.com/index.php?action=PublicDownloadProcess&amp;id=103" rel="external">More from the Living Group (pdf)</a></li>
            </ul>
    </div>
</div> <!-- close UKAPWLinks -->

<!-- RHS extra -->

<div id="Extlinks">
    <h2>Other external links</h2>
    <div class="info">
        <ul>
            <li><a href="http://www.linkedin.com/in/actuarialoutpost" rel="external">Actuarial outpost</a></li>
            <li><a href="http://www.claudepenland.com/" rel="external">Claude Penland: actuary and webmaster</a></li>
        </ul>
    
    <div>Risk management experts</div>
    <ul>
    <li><a href="http://riskviews.wordpress.com/contributors/dave-ingram/" rel="external">Dave Ingram</a></li>
    <li><a href="http://www.casact.org/research/erm/" rel="external">Bill Panning</a></li>
    <li>Matthew Leitch
        <ul>
        <li><a href="http://www.dynamicmanagement.me.uk/" rel="external">Dynamic management</a></li>
        <li><a href="http://www.internalcontrolsdesign.co.uk/" rel="external">Internal controls design</a></li>
        <li><a href="http://www.managedluck.co.uk/" rel="external">Managed luck</a></li>
        <li><a href="http://www.workinginuncertainty.co.uk/" rel="external">Working in uncertainty</a></li>
        </ul>
    </li>
    </ul>
    </div>
</div> <!-- close ExtLinks -->
