<!-- RHS extra -->

<div id="UKAPWlinks">
    <h2>Institute links</h2>
    <div class="info">
        <ul>
        <li><a href="http://www.actuaries.org.uk/sitemap" rel="external">Current UKAPW sitemap</a></li>
        <li><a href="http://www.actuaries.org.uk/pages/site-features" rel="external">UKAPW site features</a></li>
        </ul>
    </div>

</div> <!-- end UKAPWlinks -->

<!-- RHS extra -->

<div id="Extlinks">

    <h2>Other external links</h2>

    <div class="info">
    <h2>Navigation theory</h2>
    <ul>
    <li><a href="http://experiencinginformation.wordpress.com/2009/03/30/nielsen-on-mega-menus-aka-ribbon-navigation/" rel="external">nielsen-on-mega-menus-aka</a></li>
    <li><a href="http://www.useit.com/alertbox/mega-dropdown-menus.html" rel="external">Nielsen article</a></li>
    <li><a href="http://experiencinginformation.wordpress.com/2008/05/11/navigation-menu-trends/" rel="external">navigation-menu-trends</a></li>
    <li><a href="http://experiencinginformation.wordpress.com/2008/08/02/sitemap-menus-ribbon-navigation/" rel="external">sitemap-menus-ribbon-navigation</a></li>
    </ul>
    
              <h2>Simple navigation demonstrations</h2>
    <div>There's no point over-engineering navigation for the simplest sites.</div>
    <ul>
        <li><a href="http://www.beaconstrategic.com" rel="external">Beacon strategic marketing</a></li>
        <li><a href="http://www.wkda.org.uk/" rel="external">West Kent Debt Advice</a></li>    
    </ul>
    
    <h2>Realistic navigation demonstrations</h2>
    <div>Many sites would justify this level of navigation:</div>
    <ul>
        <li><a href="http://www.neptunefunds.com/" rel="external">Neptune Investment Management</a></li>
    </ul>
    <h2>More complex navigation demonstrations</h2>
    <div>More complex menus</div>
    <ul>
    <li><a href="http://www.bma.bm/statistics/index.html" rel="external">Open and close from the BMA</a></li>
        <li><a href="http://www.ey.com/UK/en/home" rel="external">Ernst &amp; Young megamenu</a></li>
        <li><a href="http://www.gs.com" rel="external">Goldman Sachs megamenu</a></li>
        <li><a href="http://www.pwc.co.uk/" rel="external">PwC  megamenu</a></li>
        <li><a href="http://www.johnlewis.com" rel="external">John Lewis megamenu</a></li>
    </ul>
</div>
</div> <!-- close ExtLinks -->
