<!-- RHS extra -->

<div id="UKAPWlinks">
    <h2>Institute links</h2>
    <!-- InstanceBeginEditable name="FIA_Links" -->
    
    <div class="info"><div><strong>My attempts to report bad links</strong></div>
    <p>On 28 February 2011 I sent the following email to webservices@actuaries.org.uk:</p>
    <div><strong>The email:</strong></div>
    <p>Dear Sir / Madam<br />
    The link 
    <a href="http://www.actuaries.org.uk/events/one-day/worshipful-company-actuaries-wca-annual-lecture-world-needs-actuaries" rel="external">www.actuaries.org.uk/events/one-day/worshipful-company-actuaries-wca-annual-lecture-world-needs-actuaries</a> seems to throw me into administration &ndash; it should presumably be Ronnie Bowie's recent "The world needs actuaries" speech, following up on his 2008 Faculty Presidential address.</p>
    <p>The same problem occurs when you load
    <a href="http://www.actuaries.org.uk/news/articles/worshipful-company-actuaries-lecture-world-needs-actuaries" rel="external">www.actuaries.org.uk/news/articles/worshipful-company-actuaries-lecture-world-needs-actuaries</a>
    and try to click through on the "more information" link.</p>
    
    <p>I believe there are a large number of bad links on the website. Would you consider setting up a bad link reporting facility to make this process a little slicker?</p><p>One approach could be for each page to have a single "bad link report" button, clicking of which would send the URL to the webmaster as a potential bad link.</p>
    <p>Best wishes<br />
    Andrew
    </p>
    
    <div><strong>The reply was less than helpful:</strong></div>
    
    <p>"Both the links below refer to the Worshipful Company of Actuaries annual lecture, given by Ronnie Bowie on 19 February, entitled 
    'The world needs actuaries'." <strong>I gave up.</strong></p>
    </div>
</div> <!-- end UKAPWlinks -->

<!-- RHS extra -->

<div id="Extlinks">
    <h2>Other external links</h2>
    <!-- InstanceBeginEditable name="External_Links" -->
    <div class="info">
        <div>From the excellent <a href="http://www.techsupportalert.com/" rel="external">TechSupportAlert</a></div>
        <ul>
            <li><a href="http://www.techsupportalert.com/best-free-web-site-link-checker.htm" rel="external">Best free website link checkers</a></li>
            <li><a href="http://www.brokenlinkcheck.com/" rel="external">Online broken link checker</a></li>
            <li><a href="http://home.snafu.de/tilman/xenulink.html" rel="external">Xenu link sleuth</a></li>
        </ul>
    </div> <!-- close info -->

</div> <!-- close ExtLinks -->
