<div id="UKAPWlinks">
    <h2>Institute links</h2>
    <!-- InstanceBeginEditable name="FIA_Links" -->
    <div class="info">
    <ul>
    <li><a href="http://www.actuaries.org.uk/" rel="external">UKAPW home page</a></li>
    <li>UKAPW sections:</li>
    <li><a href="http://www.actuaries.org.uk/students/" rel="external">Students</a></li>
    <li><a href="http://www.actuaries.org.uk/members/" rel="external">Members</a></li>
    <li><a href="http://www.actuaries.org.uk/practice-areas/" rel="external">Practice areas</a></li>
    <li><a href="http://www.actuaries.org.uk/research-and-resources/" rel="external">Research and resources</a></li>
    <li><a href="http://www.actuaries.org.uk/communities/" rel="external">Communities</a></li>
    <li><a href="http://www.actuaries.org.uk/events/" rel="external">Events</a></li>
    <li><a href="http://www.actuaries.org.uk/news/" rel="external">News</a></li>
    <li><a href="http://www.actuaries.org.uk/regulation/pages/regulation" rel="external">Regulation</a></li>
    <li><a href="http://www.actuaries.org.uk/about-us/pages/about-us" rel="external">About us</a></li>
    <li><a href="http://www.actuaries.org.uk/becoming-actuary/pages/becoming-actuary" rel="external">Becoming an actuary</a></li>
    </ul>
    </div>
    <!-- InstanceEndEditable -->
    </div>
    <div id="Extlinks">
    <h2>Other external links</h2>
    <!-- InstanceBeginEditable name="External_Links" -->
    <div class="info">
    <ul>
    <li>CSS articles</li>
    <li><a href="http://www.css-tricks.com/category/beginner/" rel="external">CSS: beginner</a></li>
    <li><a href="http://www.css-tricks.com/category/intermediate/" rel="external">CSS: intermediate</a></li>
    <li><a href="http://www.css-tricks.com/category/advanced/" rel="external">CSS: advanced</a></li>
    <li>Javascript articles</li>
    <li><a href="http://www.spoonfeddesign.com/100-best-javascript-resources" rel="external">100 Javascript resources</a></li>
    <li><a href="http://www.sixrevisions.com/resources/40_resources_for_javascript_coders/" rel="external">&nbsp; 40 Javascript resources</a></li>
    <li><a href="http://www.jquery.com/" rel="external">jQuery</a></li>
    <li>Colour, graphics and typography</li>
    <li><a href="http://www.alteredadvice.com/websites-that-use-color-well/" rel="external">Websites that use colour well</a></li>
    <li><a href="http://www.aerin.co.uk/articles/images.htm" rel="external">Making best use of your images</a></li>
    <li><a href="http://www.sixrevisions.com/web_design/20-websites-with-beautiful-typography/" rel="external">20 websites with beautiful typography</a></li>
    </ul>
    </div>
</div>