<!-- RHS extra -->

<div id="UKAPWlinks">
    <h2>Institute links</h2>
    <div class="info">
        <div><strong>Missed 3rd-column opportunities:</strong></div>
        <ul>
        <li><a href="http://www.actuaries.org.uk/students" rel="external">Not much for students</a></li>
        <li><a href="http://www.actuaries.org.uk/practice-areas/pages/practice-areas" rel="external">An empty column</a></li>
        <li><a href="http://www.actuaries.org.uk/about-us/pages/about-us" rel="external">Are those documents really associated?</a></li>
        </ul>
    </div>

</div> <!-- end UKAPWlinks -->

<!-- RHS extra -->

<div id="Extlinks">
    <div class="info">
        <div><strong>Layout examples:</strong></div>
        <ul>
            <li><a href="http://webdesignledger.com/inspiration/48-examples-of-excellent-layout-in-web-design" rel="external">48 layout examples &ndash; 
            hotly debated</a></li>
            <li><a href="http://www.smashingmagazine.com/2008/09/03/40-creative-design-layouts-getting-out-of-the-box/" rel="external">More creative layouts</a></li>
            <li><a href="http://www.smashingmagazine.com/2009/05/19/8-layout-solutions-to-improve-your-designs/" rel="external">Smashing Magazine: 8 layout solutions</a></li>
            <li><a href="http://www.hongkiat.com/blog/60-high-quality-free-web-templates-and-layouts/" rel="external">60 quality free web templates and layouts</a></li>
        </ul>
    </div>
</div> <!-- close ExtLinks -->
