<!-- RHS extra -->

<div id="UKAPWlinks">
    <h2>Institute links</h2>

    <div class="info">
        <div>The re-design of the UKAPW in 2010 received support from <a href="http://www.living-group.com/" rel="external">the Living Group</a>:</div>

        <ul>
            <li><a href="http://www.actuaries.org.uk/" rel="external">The UKAPW home page</a></li>
            <li><a href="http://www.living-group.com/project.html?projectid=53" rel="external">The Living Group developed UKAPW</a></li>
            <li><a href="http://www.living-group.com/index.php?action=PublicDownloadProcess&amp;id=103" rel="external">More from the Living Group (pdf)</a></li>
        </ul>
    </div> <!-- end info -->
</div> <!-- end UKAPWlinks -->

<!-- RHS extra -->

<div id="Extlinks">
	<h2>Other external links</h2>

	<div class="info">
		<ul>
			<li><a href="http://www.useit.com/alertbox/20020512.html" rel="external">Top 10 guidelines for home page usability</a></li>
			<li><a href="http://scribizzy.com/copywriting/website-copywriting/website-copywriting-killer-home-page" rel="external">How to get a killer home page</a></li>
		</ul>

		<div>Worst websites of the year: 2005-2010</div>
		<ul>
			<li><a href="http://www.webpagesthatsuck.com/worst-websites-of-the-year.html" rel="external">2005-2010 overview</a></li>
		</ul>

		<div class="colsplit2">
			<ul>
				<li><a href="http://www.webpagesthatsuck.com/worst-web-design-featured-on-web-pages-that-suck-in-2005.html" rel="external">2005</a></li>
				<li><a href="http://www.webpagesthatsuck.com/worst-websites-of-2006-overview.html" rel="external">2006</a></li>
				<li><a href="http://www.webpagesthatsuck.com/worst-websites-of-2007-overview.html" rel="external">2007</a></li>
			</ul>
		</div>

		<div class="colsplit3">
			<ul>
			<li><a href="http://www.webpagesthatsuck.com/worst-websites-of-2008-overview.html" rel="external">2008</a></li>
			<li><a href="http://www.webpagesthatsuck.com/worst-websites-of-2009-overview.html" rel="external">2009</a></li>
			<li><a href="http://www.webpagesthatsuck.com/worst-websites-of-2010-contenders.html" rel="external">2010</a></li>
			</ul>
		</div>
		<br />
	
	</div> <!-- close info -->

</div> <!-- close ExtLinks -->

<h2>UKAPW home page elements</h2>
<div class="info">
	<p>The <a href="http://www.actuaries.org.uk/" rel="external">FIA home page</a> looks modern. But to me it looks like several sites with loosely linked content have been thrown together, like a malformed jigsaw &ndash; see the spaces at the bottom right?
	The <a href="http://www.actuaries.org.uk/" rel="external">FIA home page</a> has:</p>
	<ol>
		<li>Login</li>
		<li>Contact us</li>
		<li>Search</li>
		<li>"Fluffy" tabs: engagement, delivery etc</li>
		<li>Latest news from the profession</li>    
		<li>Latest news from external sites (very odd)</li>        
		<li>Events</li>
		<li>Large events calendar (hover for events)</li>
		<li>Call for speakers</li>    
		<li>Join our communities</li>    
		<li>eShop</li>
		<li>Health and care conference</li>    
		<li>Publication of the month</li>
		<li>What are an actuary's core attributes?</li>
		<li>Explore the world of risk</li>    
		<li>Miscellaneous graphical links:
			<ul>
				<li>Looking for a new job</li>
				<li>Find an actuary / actuarial form</li>            
				<li>Meet some of our members</li>
				<li>Join us on Facebook</li>             
			</ul>
		</li>
		<li>Footer: quick links</li>            
	</ol>
	<p>If this is about quick links rather than a site map why put them "below the fold" at the bottom?</p>

</div> <!-- close info -->
