<!-- RHS extra -->

<div id="UKAPWlinks">
    <h2>Institute links</h2>
    <!-- InstanceBeginEditable name="FIA_Links" -->
    <div class="info">
    <div>These UKAPW areas desperately need attention:</div>
    <ul>
    <li><a href="http://www.actuaries.org.uk/" rel="external">The home page</a></li>
    <li><a href="http://www.actuaries.org.uk/sitemap" rel="external">The sitemap</a></li>
    <li><a href="http://www.actuaries.org.uk/pages/site-features" rel="external">The site features</a></li>
    </ul>
    <p>As an example, the site features page should at least provide some links to those features(!)</p>
    </div>

</div> <!-- end UKAPWlinks -->

<!-- RHS extra -->

<div id="Extlinks">
    <h2>Other external links</h2>
    <!-- InstanceBeginEditable name="External_Links" -->
    <div class="info">
    <div>Some interesting web books:</div>
    <ul>
    <li><a href="http://www.amazon.co.uk/Dont-Make-Think-Usability-Circle-Com/dp/0789723107" rel="external">Don't make me think</a></li>
    <li><a href="http://www.boagworld.com/websiteownersmanual/" rel="external">The website owner's manual</a></li>
    </ul>
    <div>User experience resources:</div>
    <ul>
    <li><a href="http://blogs.sitepoint.com/quantify-user-experience/" rel="external">How to quantify the user experience</a></li>
    <li><a href="http://www.socialmediaexplorer.com/digital-marketing/website-user-experience/" rel="external">How to create a frictionless user experience</a></li>
    <li><a href="http://www.useit.com/alertbox/9605.html" rel="external">Nielsen's top 10 mistakes in web design</a></li>
    <li><a href="http://kevinjmireles.wordpress.com/2006/05/04/user-experience-101/" rel="external">User experience 101</a></li>
    <li><a href="http://www.webcredible.co.uk/" rel="external">Webcredible user experience services</a></li>
    </ul>
    </div>
</div> <!-- close ExtLinks -->
