<!-- RHS extra -->

<div id="UKAPWlinks">
    <h2>Institute links</h2>
    <!-- InstanceBeginEditable name="FIA_Links" -->
    <div class="info">
    <ul>
    <li><a href="http://www.actuaries.org.uk/sitemap" rel="external">Current UKAPW sitemap</a></li>
    <li><a href="http://www.actuaries.org.uk/pages/site-features" rel="external">UKAPW site features</a></li>
    </ul>
    <p>Very unnaturally, the "site features" has no links. Unfortunate if you can't find the features.</p>
    </div> <!-- end info -->
    
</div> <!-- end UKAPWlinks -->

<!-- RHS extra -->

<div id="Extlinks">

    <h2>Other external links</h2>
    <div class="info">
        <div>Better examples of sitemaps:</div>
        <ul>
        <li><a href="http://www.oak-underwriting.co.uk/Public/Contents.aspx?Page=SiteMap" rel="external">Oak underwriting</a></li>
        <li><a href="http://www.mckinsey.com/en/Site_map.aspx" rel="external">McKinsey</a></li>
        <li><a href="http://www.neptunefunds.com/Navigate.aspx/Financial-Adviser/1/Home-~-Financial-Advisers/Home-~-Financial-Advisers" rel="external">Neptune Investment Management</a></li>
            <li><a href="http://www.moneyadviceservice.org.uk/sitemap.aspx" rel="external">Money advice service</a> (great show/hide)</li>
        </ul>
        <div>Case studies keep the sitemaps simple:</div>
        <ul>
            <li><a href="http://www.airmic.com/sitemap" rel="external">AIRMIC sitemap</a></li>
            <li><a href="http://www.bankofengland.co.uk/sitemap.htm" rel="external">Bank of England sitemap</a></li>
            <li>Society of Actuaries don't have a sitemap</li>
            <li><a href="http://www.qfinance.com/sitemap" rel="external">QFinance sitemap</a></li>
        </ul>
        </div>

</div> <!-- close ExtLinks -->
