<!-- RHS extra -->

<div id="UKAPWlinks">
    <h2>Institute links</h2>
    <!-- InstanceBeginEditable name="FIA_Links" -->
    <div class="info">
    <div>The UKAPW brand has been developed with the support of the <a href="http://www.living-group.com" rel="external">Living Group</a></div>
        <ul>
            <li><a href="http://www.living-group.com/project.html?projectid=53" rel="external">The Living Group developed UKAPW</a></li>
            <li><a href="http://www.living-group.com/index.php?action=PublicDownloadProcess&amp;id=103" rel="external">More from the Living Group (pdf)</a></li>
        </ul>
    </div>
    
</div> <!-- end UKAPWlinks -->

<!-- RHS extra -->

<div id="Extlinks">

    <h2>Other external links</h2>
    <!-- InstanceBeginEditable name="External_Links" -->
    <div class="info">
    <div>Usability expert <a href="http://en.wikipedia.org/wiki/Jakob_Nielsen_%28usability_consultant%29" rel="external">Jakob Nielsen</a></div>
    <ul>
    <li><a href="http://www.useit.com/papers/webwriting/" rel="external">Writing for the web &ndash; research</a></li>
    <li><a href="http://www.useit.com/alertbox/9710a.html" rel="external">How users read on the web</a></li>
    <li><a href="http://www.useit.com/papers/webwriting/rewriting.html" rel="external">Applying writing guidelines to web pages</a></li>
    <li><a href="http://www.useit.com/alertbox/20030811.html" rel="external">Information Pollution</a></li>
    <li><a href="http://www.useit.com/alertbox/content-strategy.html" rel="external">Long v short articles as content strategy</a></li>
    <li><a href="http://www.useit.com/alertbox/intro-text.html" rel="external">Blah-blah text: keep, cut, or kill?</a></li>
    <li><a href="http://www.useit.com/papers/webwriting/writing.html" rel="external">Concise, scannable and objective</a></li>
    <li><a href="http://www.useit.com/alertbox/20010722.html" rel="external">Tagline blues: what's the site about?</a></li>
    <li><a href="http://www.useit.com/alertbox/passive-voice.html" rel="external">Headings and the passive voice</a></li>
    <li><a href="http://www.useit.com/alertbox/about-us-pages.html" rel="external">How to write an about us page</a></li>
    <li><a href="http://www.useit.com/alertbox/980906.html" rel="external">Headlines, page titles and subject lines</a></li>
    </ul>
    
    <div>Books recommended by Nielsen</div>
    <ul>
    <li><a href="http://www.amazon.co.uk/dp/0123694868" rel="external">Letting go of the words</a></li>
    <li><a href="http://www.amazon.co.uk/exec/obidos/ASIN/0550103244/" rel="external">Writing for the web</a> (Chambers)</li>
    <li><a href="http://www.amazon.co.uk/exec/obidos/ASIN/1551808315" rel="external">Writing for the web</a> (Killian)</li>
    <li><a href="http://www.amazon.co.uk/dp/031256984X" rel="external">Yahoo style guide</a></li>
    </ul>
    
    
    <div>Other</div>
    <ul>
    <li><a href="http://www.tm4y.co.za/internet-marketing-tips/how-to-write-good-web-content.html" rel="external">AIDA model for commercial sites</a></li>
    <li><a href="http://www.marketing-jive.com/2007/03/37-things-to-keep-in-mind-when-writing.html" rel="external">Just 37 things to bear in mind</a></li>
    </ul>
      
    <div>Style guides</div>
        <ul>
            <li><a href="http://styleguide.yahoo.com/" rel="external">Yahoo style guide</a></li>
            <li><a href="http://db.riskwaters.com/global/actuary/digital/writing_brief_2009.pdf" rel="external">Writing for the Actuary</a> note section 9</li>
        </ul>
    </div>

</div> <!-- close ExtLinks -->
