<div id="UKAPWlinks">
<h2>Institute links</h2>
<!-- InstanceBeginEditable name="FIA_Links" -->
    <div class="info">
        <h2>Content comparison</h2>
        <p><strong>UKAPW: better content needed</strong><br />
        The following main pages in the UKAPW lack focus. The areas are not well explained.</p>
        <div class="colsplit2">
            <ul>    
                <li><a href="http://www.actuaries.org.uk/students" rel="external">Students</a></li>
                <li><a href="http://www.actuaries.org.uk/members" rel="external">Members</a></li>
                <li><a href="http://www.actuaries.org.uk/research-and-resources" rel="external">Research</a></li>
            </ul>
        </div>

        <div class="colsplit2">
            <ul>    
                <li><a href="http://www.actuaries.org.uk/communities/" rel="external">Communities</a></li>
                <li><a href="http://www.actuaries.org.uk/news" rel="external">News</a></li>
                <li><a href="http://www.actuaries.org.uk/events" rel="external">Events</a></li>
            </ul>
        </div>
    <br />
    <p>We might expect so much more. For example:</p>
    <ul>
        <li>Who conducts the research?</li>
        <li>Who benefits from the research?</li>
        <li>Are there volunteering opportunities?</li>
    </ul>
    <p>No doubt these questions could be answered by sufficient surfing of the UKAPW - but is this an appropriate requirement? Can't the UKAPW simply be more member-focused and helpful?</p>
    <div><strong>Airmic: a fair attempt</strong><br />
    "Top level" pages introduce their respective areas, while further relevant links are in the third column. Example introductions include.</div>
    <ul>
        <li><a href="http://www.airmic.com/about/about-airmic" rel="external">About Airmic</a></li>
        <li><a href="http://www.airmic.com/events/home" rel="external">Events</a></li>
        <li><a href="http://www.airmic.com/sponsorship/airmic-marketplace" rel="external">Sponsorship / Marketplace</a></li>
    </ul>
    <div>Some instructions are rather "light" including:</div>
    <ul>
        <li><a href="http://www.airmic.com/research" rel="external">Research</a> (what type of research?)</li>
        <li><a href="http://www.airmic.com/members" rel="external">Members</a></li>
    </ul>
    <div>The members section could tell you:</div>
    <ul>
        <li>What's for free</li>
        <li>What costs money</li>
        <li>What you have to register for</li>
        <li>What you have to be a member for</li>
        <li>How much membership costs</li>
    </ul>
    <div>Lower level pages are typically well written:</div>
    <ul>
        <li><a href="http://www.airmic.com/members/sigs" rel="external">Special interest groups</a></li>
        <li><a href="http://www.airmic.com/research/eu-corporate-governance-framework-consultation" rel="external">EU governance consultation</a></li>
    </ul>
    <div>Pages are usually brief and to the point.</div>

    <h2>Layout comparison</h2>
    <div>The intention of the Airmic layout is  clear:</div>
    <ul>
        <li>Column 1: graphical links to key sections ...</li>
        <li>... followed by links to "next events</li>
        <li>Column 2: main content</li>
        <li>Column 3: navigation ...</li>
        <li>... followed by the latest research</li>
    </ul>
    <p>The currently active page is helpfully highlighted in column 3's navigation.</p>

    </div>
    </div> <!-- end UKAPWlinks -->