<!-- RHS extra -->

<!-- RHS extra -->

<div id="Extlinks">
    <h2>Other external links</h2>
    <div class="info">
        <ul>
        <li><a href="http://www.adobe.com/products/dreamweaver.html" rel="external">Dreamweaver CS5</a> (commercial)</li>
        <li><a href="http://www.thesitewizard.com/gettingstarted/dreamweaver-cs4-tutorial-7.shtml" rel="external">Tutorial: templates in Dreamweaver CS4</a></li>
        <li><a href="http://www.techsupportalert.com/best-free-html-editor.htm" rel="external">TechSupportAlert best free HTML editors</a></li>
        <li><a href="http://www.htmlkit.com/" rel="external">HTML-Kit</a> (free)</li>
        <li><a href="http://kompozer.net/" rel="external">KompoZer</a> (free)</li>
        <li><a href="http://www.pspad.com/en/pspad.htm" rel="external">PSPad</a> (free)</li>
        </ul>
        </div>
</div> <!-- close ExtLinks -->
