<div id="UKAPWlinks">
<h2>Institute links</h2>
<!-- InstanceBeginEditable name="FIA_Links" -->
    <div class="info">
        <h2>Content comparison</h2>
        <p><strong>UKAPW: better content needed</strong><br />
        The following main pages in the UKAPW lack focus. The areas are not well explained.</p>
        <div class="colsplit2">
            <ul>    
                <li><a href="http://www.actuaries.org.uk/students" rel="external">Students</a></li>
                <li><a href="http://www.actuaries.org.uk/members" rel="external">Members</a></li>
                <li><a href="http://www.actuaries.org.uk/research-and-resources" rel="external">Research</a></li>
            </ul>
        </div>

        <div class="colsplit2">
            <ul>    
                <li><a href="http://www.actuaries.org.uk/communities/" rel="external">Communities</a></li>
                <li><a href="http://www.actuaries.org.uk/news" rel="external">News</a></li>
                <li><a href="http://www.actuaries.org.uk/events" rel="external">Events</a></li>
            </ul>
        </div>
    <br />
    <p>We might expect so much more. For example:</p>
    <ul>
        <li>Who conducts the research?</li>
        <li>Who benefits from the research?</li>
        <li>Are there volunteering opportunities?</li>
    </ul>
    <p>No doubt these questions could be answered by sufficient surfing of the UKAPW - but is this an appropriate requirement? Can't the UKAPW simply be more member-focused and helpful?</p>

    <p><strong>SOA: a higher standard</strong><br />
        <strong>(1) Availability: </strong>Search for the 2007 Enterprise Risk Management Symposium and soon find <a href="http://www.soa.org/news-and-publications/publications/other-publications/monographs/m-as07-1-toc.aspx" rel="external">the 2007 ERM Symposium</a> I note:</p>
        <ul>
        <li>The ERM Symposium easy to find</li>
        <li>The papers are publicly available</li>
        <li>They can all be easily downloaded</li>
        </ul>
        <p>In contrast the UK Profession seems very protective of papers presented at its Conventions. Why not be more helpful?</p>
        <p><strong>(2) Consistency: </strong>As noted in the main pane, the content is consistent with the navigation.</p>
        <p><strong>(3) More than links: </strong>While the UKAPW has lots of content in pdfs (sessional papers etc) the content written for web pages is much weaker. A good grasp of site structure would improve things but the <a href="http://www.actuaries.org.uk/sitemap" rel="external">UKAPW sitemap</a> has gone from bad to worse.</p>
        
        <h2>Layout comparison</h2>
        <ul>
        <li><strong>Column 1: </strong>UKAPW generally has navigation, SOA has core functionality. SOA is best.</li>
        <li><strong>Column 2: </strong>Main content for both sites. SOA is generally better, especially the landing pages and "deep content" e.g. conferences.</li>
        <li><strong>Column 3: </strong>A challenge for both sites, the main reason being that there are not always related links. Neither site has is ideal.</li>
        </ul>
        </div>

    </div> <!-- end UKAPWlinks -->