<div id="UKAPWlinks">
    <h2>Other external links</h2>
    <!-- InstanceBeginEditable name="External_Links" -->
    <div class="info">
    <div><strong>Finance and risk management:</strong></div>
    <ul>
    <li><a href="http://pages.stern.nyu.edu/~adamodar/" rel="external">Aswath Damodaran</a></li>
    <li><a href="http://riskviews.wordpress.com/contributors/dave-ingram/" rel="external">Dave Ingram</a></li>
    <li><a href="http://www.casact.org/research/erm/" rel="external">Bill Panning</a></li>
    <li>Matthew Leitch
        <ul>
        <li><a href="http://www.dynamicmanagement.me.uk/" rel="external">Dynamic management</a></li>
        <li><a href="http://www.internalcontrolsdesign.co.uk/" rel="external">Internal controls design</a></li>
        <li><a href="http://www.managedluck.co.uk/" rel="external">Managed luck</a></li>
        <li><a href="http://www.workinginuncertainty.co.uk/" rel="external">Working in uncertainty</a></li>    
        </ul>
    </li>
    </ul>
    
    
    
    <div><strong>Great investment books:</strong></div>
    <ul>
    <li><a href="http://www.amazon.co.uk/gp/product/0471445509/ref=sib_rdr_dp" rel="external">Common Stocks and Uncommon Profits</a></li>
    <li><a href="http://www.amazon.co.uk/Even-Buffett-Isnt-Perfect-Greatest/dp/1591842700/ref=sr_1_1?ie=UTF8&amp;s=books&amp;qid=1272733068&amp;sr=1-1" rel="external">Even Buffett Isn't Perfect</a></li>
    <li><a href="http://www.amazon.co.uk/Financial-Times-Guide-Value-Investing/dp/0273724525/ref=sr_1_2?ie=UTF8&amp;s=books&amp;qid=1272732917&amp;sr=1-2" rel="external">Financial Times Guide to Value Investing</a></li>
    <li><a href="http://www.amazon.co.uk/Intelligent-Investor-Benjamin-Graham/dp/0060555661/ref=sr_1_1?ie=UTF8&amp;s=books&amp;qid=1272734055&amp;sr=1-1" rel="external">(The) Intelligent Investor</a></li>
    <li><a href="http://www.amazon.co.uk/s/ref=nb_sb_noss?url=search-alias%3Dstripbooks&amp;field-keywords=long+and+short+of+it&amp;x=0&amp;y=0" rel="external">(The) Long and the Short of it</a></li>
    <li><a href="http://www.amazon.co.uk/Smarter-Investing-Simpler-Decisions-Results/dp/0273722077/ref=sr_1_1?ie=UTF8&amp;qid=1272732793&amp;sr=1-1-spell" rel="external">Smarter investing</a></li>
    </ul>
    
    <div><strong>Recommended investment websites:</strong></div>
    <ul>
    <li><a href="http://classicvalueinvestors.com/" rel="external">Classic value investors</a></li>
    <li><a href="http://www.digitallook.com/" rel="external">Digital Look</a></li>
    <li><a href="http://blog.iii.co.uk/" rel="external">Interactive investor blog</a></li>
    <li><a href="http://www.londonstockexchange.com/home/homepage.htm" rel="external">London Stock Exchange</a></li>
    <li><a href="http://www.lse.co.uk/" rel="external">lse.co.uk</a> - cheeky!</li>
    <li><a href="http://monevator.com/" rel="external">Monevator</a></li>
    <li><a href="http://www.moneysavingexpert.com/" rel="external">MoneySavingExpert</a></li>
    <li><a href="http://www.fool.co.uk/" rel="external">Motley Fool UK</a></li>
    <li><a href="http://www.morningstar.co.uk/uk/default.aspx?lang=en-GB" rel="external">Morningstar UK</a></li>
    <li><a href="http://www.sharelockholmes.com/" rel="external">Sharelockholmes</a></li>
    <li><a href="http://www.ukvalueinvestor.com/" rel="external">UK value investor's diary</a></li>
    </ul>
    
    </div>

    </div> <!-- end UKAPWlinks -->