<h2>Administration &amp; payments</h2>
<ul class="nobullet">
<li><a href="http://www.actuaries.org.uk/user/" rel="external">Account details</a> (*)</li>
<li><a href="https://www.actuaries.org.uk/user" rel="external">Actuarial directory</a> (*)</li>
<li><a href="http://www.actuaries.org.uk/research-and-resources/eshop" rel="external">eshop</a></li>
<li><a href="http://www.actuaries.org.uk/my-account/pages/exams" rel="external">Exam registration (etc)</a></li>
</ul>
<p>(*) requires login by FIA member.</p>
<h2>Contact</h2>
<ul class="nobullet">
<li><a href="mailto:webservices@actuaries.org.uk">Email website comments</a></li>
<li>Phone: +44 (0)20 7632 2100</li>
<li><a href="http://www.actuaries.org.uk/contact" rel="external">Addresses, online form</a></li>
</ul>

<h2>CPD</h2>
<ul class="nobullet">
<li><a href="http://www.actuaries.org.uk/members/pages/continuing-professional-development-scheme" rel="external">CPD scheme</a></li>
<li><a href="http://www.actuaries.org.uk/members/pages/cpd-events" rel="external">Events giving you CPD credit</a></li>
<li><a href="http://www.actuaries.org.uk/members/pages/guide-help-you-complete-your-cpd-requirements-0" rel="external">How to complete your CPD</a></li>
<li>The former CPD handbook:<br /><a href="http://www.actuaries.org.uk/research-and-resources/documents/cpd-scheme-continuing-professional-development-20102011-version-2" rel="external">CPD scheme 2010/2011</a></li>
</ul>

<h2>Events</h2>
<ul class="nobullet">
<li><a href="http://www.actuaries.org.uk/events" rel="external">Events doorway page</a></li>
<li><a href="http://www.actuaries.org.uk/events/calendar" rel="external">Event calendar</a></li>
<li><a href="http://www.actuaries.org.uk/events/faqs" rel="external">Event FAQs</a></li>
</ul>
<h2>Members' handbook</h2>
<ul class="nobullet">
<li><a href="http://www.actuaries.org.uk/members" rel="external">Basic member search</a></li>
<li><a href="https://www.actuaries.org.uk/user" rel="external">Full member search</a> (*)</li>
</ul>
<h2>Papers</h2>
<ul class="nobullet">
<li><a href="http://www.actuaries.org.uk/research-and-resources/pages/continuous-mortality-investigation-working-papers" rel="external">Papers: CMI</a></li>
<li><a href="http://www.actuaries.org.uk/research-and-resources/pages/sessional-meeting-papers" rel="external">Papers: Sessional</a></li>
<li><a href="http://www.sias.org.uk/siaspapers/listofpapers" rel="external">Papers: SIAS</a></li>
</ul>
<h2>Research</h2>
<ul class="nobullet">
<li><a href="http://www.actuaries.org.uk/research-and-resources" rel="external">Research doorway page</a></li>
<li><a href="http://www.actuaries.org.uk/research-and-resources/pages/reading-lists" rel="external">Reading lists</a></li>
<li><a href="http://auth.athensams.net/my/" rel="external">Athens</a></li>
<li><a href="http://www.actuaries.org.uk/research-and-resources/pages/continuous-mortality-investigation" rel="external">CMI</a></li>
<li><a href="http://www.actuaries.org.uk/research-and-resources/pages/search-library-catalogue" rel="external">Library search</a></li>
<li><a href="http://www.actuaries.org.uk/research-and-resources/pages/library-services" rel="external">Library services</a></li>
<li><a href="http://actuaries.soutron.net/" rel="external">Publications search (S'ton)</a></li>
</ul>
<h2>Standards and regulation</h2>
<ul class="nobullet">
<li><a href="http://www.actuaries.org.uk/regulation/pages/actuaries-code" rel="external">Actuaries' code</a></li>
<li><a href="http://www.actuaries.org.uk/regulation/pages/complaints" rel="external">Complaints</a></li>
<li><a href="http://www.actuaries.org.uk/regulation/pages/disciplinary-procedures" rel="external">Disciplinary procedures</a></li>
<li><a href="http://www.actuaries.org.uk/regulation/pages/professional-standards-directory" rel="external">FRC: professional standards</a></li>
<li><a href="http://www.actuaries.org.uk/regulation/pages/regulation" rel="external">Regulation</a></li>
</ul>
