<div class="info myFIAlinks">

<h2 class="CS"><a href="/content/1CaseStudies/">Case studies</a></h2>
<div>Benchmarking the UKAPW's layout, navigation and content, using four financial case studies.</div>
<ol>
	<li><a href="/content/1CaseStudies/AIRMIC.html">AIRMIC</a></li>
   	<li><a href="/content/1CaseStudies/BOE.html">Bank of England</a></li>
   	<li><a href="/content/1CaseStudies/SOA.html">Society of Actuaries</a></li>
   	<li><a href="/content/1CaseStudies/QFinance.html">QFinance</a></li>
</ol>

<h2 class="PA"><a href="/content/2PositiveAlternative/">Positive alternatives</a></h2>
<div>A reworking of three levels of the UKAPW plus a major improvement to the UKAPW sitemap.</div>
<ul>
<li><a href="/content/2PositiveAlternative/Home.html">Home</a></li>
<li><a href="/content/2PositiveAlternative/PracticeAreas.html">Practice areas</a></li>
<li><a href="/content/2PositiveAlternative/ERM.html">Enterprise Risk Management</a></li>
<li><a href="/content/2PositiveAlternative/Sitemap.asp">Sitemap</a></li>
</ul>

<h2 class="CC"><a href="/content/3ConstructiveCriticism/">Constructive criticism</a></h2>
<div><strong>On various aspects of the UKAPW</strong></div>
<div class="colsplit2">
<ul>
<li><a href="/content/3ConstructiveCriticism/Homepage.asp">Home page</a></li>
<li><a href="/content/3ConstructiveCriticism/BadLinks.asp">Bad links</a></li>
<li><a href="/content/3ConstructiveCriticism/Content.asp">Content</a></li>
<li><a href="/content/3ConstructiveCriticism/Functionality.asp">Functionality</a></li>
</ul>
</div>
<div class="colsplit2">
<ul>
<li><a href="/content/3ConstructiveCriticism/Layout.asp">Layout</a></li>
<li><a href="/content/3ConstructiveCriticism/Navigation.asp">Navigation</a></li>
<li><a href="/content/3ConstructiveCriticism/Sitemap.asp">Sitemap</a></li>
<li><a href="/content/3ConstructiveCriticism/SortingItOut.asp">Sorting it out</a></li>
</ul>
</div>
<br />

</div>
