<div id="block_2">

    <!-- include virtual="/inc/incConstructiveAlternative.asp" -->
    <!-- InstanceBeginEditable name="Navigation" -->
    <div class="info">
    <div><strong>Navigating this site:</strong></div>
    <ol class="square">
        <li>Use the menus immediately above this</li>
        <li>Use "you are here" to the extreme left</li>
        <li>Use the <a href="/content/4AboutContact/myFIASitemap.html">myFIA sitemap</a></li>
    </ol>
    <div><strong>The full width horizontal menu...</strong></div>
    <p>... at the very top is an alternative UKAPW navigation &ndash; not for myFIA navigation.</p>
    </div>
    
    
    
    <h2>The verdict on UKAPW</h2>
    <div>Surveys have disappeared from the UKAPW, but I captured this April 2010(??) survey:</div>
    <img src="/graphics/WebsiteSurvey60.png" alt="Website survey: where did that go?" width="382" height="99" />
    <ul>
    <li>73 voters (30%) "loved the look and feel"</li>
    <li>96 voters (40%) "still needs improvement"</li>
    <li>57 voters (24%) "preferred the old website"</li>
    <li>14 voters (6%) were "not sure yet"</li>
    </ul>
    <div><strong>That's 3 / 10 on appearance, at best</strong></div>
    <!-- include virtual="/inc/incMyFIALinks.asp" -->
    
    <!-- InstanceEndEditable -->
    <h2>Related links: UKAPW</h2>
    <!-- InstanceBeginEditable name="UKAPW_Links" -->
    <div class="info">
    <div>My favourite 2011 events:</div>
        <ul>
            <li><a href="http://www.actuaries.org.uk/events/one-day/sessional-research-event-save-date-4" rel="external">28/02: ERM for pension funds</a></li>
            <li><a href="http://www.actuaries.org.uk/events/one-day/dynamic-management-actions" rel="external">15/03: Dynamic management actions</a></li>
            <li><a href="http://www.actuaries.org.uk/events/one-day/risk-management-life-insurance-current-hot-topics" rel="external">23/03: Risk mgt in life assurance</a></li>
            <li><a href="http://www.actuaries.org.uk/events/one-day/microinsurance-solving-poverty-one-policy-time" rel="external">01/06: Microinsurance</a></li>
            <li><a href="http://www.actuaries.org.uk/events/one-day/networking-evening-what-keeps-cro-awake-night" rel="external">02/06: What keeps a CRO awake?</a></li>
            <li><a href="http://www.actuaries.org.uk/events/residential/risk-and-investment-conference-2011" rel="external">19/06: Risk and investment conf</a></li>
            <li><a href="http://www.actuaries.org.uk/events/one-day/professionalism-event-experienced-actuaries-june-london" rel="external">29/06: Professionalism: 10yr event</a></li>
            <li><a href="https://www.actuaries.org.uk/events/residential/life-conference-and-exhibition-2011" rel="external">20/11: Life conference</a></li>
        </ul>
    </div>

    <h2>Other external links</h2>
    <!-- InstanceBeginEditable name="Block_2_Other" -->
    <div class="info">
        <ul>
            <li><a href="http://jobs.the-actuary.org.uk/" rel="external">Actuarial jobs</a></li>
            <li><a href="http://www.beanactuary.org/" rel="external">Be an actuary: career with no boundaries</a></li>
            <li><a href="http://www.beanactuary.com/college/computer.cfm" rel="external">Suggested computing skills</a></li>             
        </ul>
    
    <div>External support for the 2010 UKAPW changes:</div>
        <ul>
            <li><a href="http://www.living-group.com/project.html?projectid=53" rel="external">The Living Group developed UKAPW</a></li>
            <li><a href="http://www.living-group.com/index.php?action=PublicDownloadProcess&amp;id=103" rel="external">More from the Living Group (pdf)</a></li>
        </ul>
    
    </div>

</div>
