<ul id="menu">
<li><a class="myFIA_Students"  href="/ActuarialWork/myFIA/Students.asp">Students</a></li>
<li><a class="myFIA_Members"  href="/ActuarialWork/myFIA/Members.asp">Members</a></li>
<li><a class="myFIA_PracticeAreas"  href="/ActuarialWork/myFIA/PracticeAreas.html">Practice areas</a></li>
<li><a class="myFIA_Research" href="/ActuarialWork/myFIA/Research.asp">Research</a></li>
<li><a class="myFIA_Communities"  href="/ActuarialWork/myFIA/Communities.asp">Communities</a></li>
<li><a class="myFIA_Events" href="/ActuarialWork/myFIA/Events.asp">Events</a></li>
<li><a class="myFIA_Regulation" href="/ActuarialWork/myFIA/Regulation.asp">Regulation</a></li>
<li><a class="myFIA_AboutUs" href="/ActuarialWork/myFIA/AboutUs.asp">About us</a></li>
<li><a class="myFIA_BecomeAnActuary" href="/ActuarialWork/myFIA//BecomeAnActuary.asp">Be an Actuary</a></li>
</ul>
