<h3>[9] About us</h3>
<dl>
	<dt>[9.1] About the profession</dt>
	<dd>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/about-us/pages/what-membership-means" rel="external">What membership means</a>
<a href="http://www.actuaries.org.uk/about-us/pages/whos-who2" rel="external">Who&#039;s who</a>
<a href="http://www.actuaries.org.uk/about-us/pages/structure-0" rel="external">Governance</a>
<a href="http://www.actuaries.org.uk/about-us/pages/strategy-and-objectives-actuarial-profession" rel="external">Strategy and objectives</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/about-us/pages/corporate-publications" rel="external">Corporate publications</a>
<a href="http://www.actuaries.org.uk/about-us/pages/glance" rel="external">At a glance - statistics</a>
<a href="http://www.actuaries.org.uk/about-us/pages/jobs-profession" rel="external">Jobs at the profession</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/about-us/pages/our-heritage" rel="external">Our heritage</a>
<a href="http://www.actuaries.org.uk/about-us/pages/international-work" rel="external">International work</a>
<a href="http://www.actuaries.org.uk/about-us/pages/links-other-sites" rel="external">Links to other sites</a>
	</div>
    <br />  
    </dd>            	
</dl>
