<h3>[1] Be an actuary</h3>

<dl>
	<dt>[1.1] How to become an actuary</dt>
	<dd>
	<div class="colsplit3">
	<a href="http://www.actuaries.org.uk/becoming-actuary/pages/what-does-actuary-do" rel="external">What does an actuary do?</a>
	<a href="http://www.actuaries.org.uk/becoming-actuary/pages/why-become-actuary-0" rel="external">Why become an actuary?</a>  
	<a href="http://www.actuaries.org.uk/becoming-actuary/pages/what-can-actuary-earn" rel="external">What can an actuary earn?</a>
	<a href="http://www.actuaries.org.uk/becoming-actuary/pages/how-become-actuary" rel="external">How to become an actuary</a>
	</div>
	<div class="colsplit3">
	<a href="http://www.actuaries.org.uk/becoming-actuary/pages/information-careers-advisers-teachers-and-parents" rel="external">Teachers and parents</a>
	<a href="http://www.actuaries.org.uk/becoming-actuary/university-courses" rel="external">Find a university course</a>
    <a href="http://www.actuaries.org.uk/becoming-actuary/pages/careers-questions-answered" rel="external">Careers FAQs</a>
	</div>
	<div class="colsplit3">
    <a href="http://www.actuaries.org.uk/becoming-actuary/pages/skill-sets-actuaries" rel="external">Skill sets of actuaries</a>        
    <a href="http://www.actuaries.org.uk/becoming-actuary/pages/get-taste-actuarial-work" rel="external">A taste of actuarial work</a>
   	<a href="http://www.actuaries.org.uk/becoming-actuary/pages/interactive-world-risk-0" rel="external">Interactive world of risk</a>        
	</div>
    <br />  
    </dd>

	<dt>[1.2] Actuarial exams and qualifications</dt>
	<dd>
	<div class="colsplit3">
        <a href="http://www.actuaries.org.uk/becoming-actuary/pages/our-qualifications" rel="external">Our qualifications</a>
	</div>
	<div class="colsplit3">
		<a href="http://www.actuaries.org.uk/becoming-actuary/pages/student-membership" rel="external">Student membership</a>
	</div>
	<div class="colsplit3">
		<a href="http://www.actuaries.org.uk/becoming-actuary/pages/associate-membership" rel="external">Associate membership</a>
	</div>
<br />
    </dd>            	

	<dt>[1.3] Meet us</dt>
	<dd>
	<div class="colsplit3">
        <a href="http://www.actuaries.org.uk/becoming-actuary/pages/meet-some-our-members" rel="external">Meet our members</a>
        <a href="http://www.actuaries.org.uk/becoming-actuary/videos/jinita-associate-consultant" rel="external">Jinita: associate consultant</a>
	</div>
	<div class="colsplit3">
		<a href="http://www.actuaries.org.uk/becoming-actuary/videos/jon-actuary" rel="external">Jon: actuary</a>        
<a href="http://www.actuaries.org.uk/becoming-actuary/videos/naila-senior-consultant" rel="external">Naila: senior consultant</a>        
    </div>

	<div class="colsplit3">
        <a href="http://www.actuaries.org.uk/becoming-actuary/pages/come-and-meet-us" rel="external">Careers events</a>
	</div>

    <br />  
    </dd>            	

</dl>
