<h3>[6] Communities</h3>
<dl>
	<dt>[6.1] Subject area related communities</dt>
	<dd>
	<div class="colsplit3">
        <a href="http://www.actuaries.org.uk/communities/erm" rel="external">ERM</a>
        <a href="http://www.actuaries.org.uk/communities/finance-and-investment" rel="external">Finance and investment</a> 
	</div>
	<div class="colsplit3">
        <a href="http://www.actuaries.org.uk/communities/general-insurance" rel="external">General insurance</a>
        <a href="http://www.actuaries.org.uk/communities/health-and-care" rel="external">Health and care</a>
	</div>
	<div class="colsplit3">
        <a href="http://www.actuaries.org.uk/communities/life-insurance" rel="external">Life insurance</a>
        <a href="http://www.actuaries.org.uk/communities/pensions" rel="external">Pensions</a>             
	</div>
    <br />  
    </dd>            	

	<dt>[6.2] Other communities</dt>
	<dd>
	<div class="colsplit3">
        <a href="http://www.actuaries.org.uk/communities/member-interest-groups" rel="external">Member interest groups</a>    
        <a href="http://www.actuaries.org.uk/communities/other" rel="external">Other communities</a>
	</div>
	<div class="colsplit3">
        <a href="http://www.actuaries.org.uk/communities/communities/students" rel="external">Students</a>
	</div>
	<div class="colsplit3">
        <a href="http://www.actuaries.org.uk/communities/examiners" rel="external">Examiners</a>
	</div>
    <br />  
    </dd>            	
</dl>
