<h3>[7] Events</h3>
<dl>
	<dt>[7.1] Event calendar</dt>
	<dd>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/events/calendar" rel="external">Event calendar</a>
   
<a href="http://www.actuaries.org.uk/events/faqs" rel="external">Event FAQs</a>
<a href="http://www.actuaries.org.uk/contact/events_team" rel="external">Contact events team</a>
<a href="http://www.actuaries.org.uk/events/pages/call-speakers" rel="external">Call for speakers</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/events/pages/professionalism-courses-newly-qualified-members" rel="external">Profs - newly qualifieds</a>
<a href="http://www.actuaries.org.uk/events/pages/professionalism-courses-associates" rel="external">Profs - associates</a>
<a href="http://www.actuaries.org.uk/events/one-day/professionalism-event-experienced-actuaries-march" rel="external">Profs - experienced actuaries</a>
<a href="http://www.actuaries.org.uk/events/list/?filters=tid%3A167%20type%3Asimple_event" rel="external">Professionalism Events/CPD</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/events/list/?filters=tid%3A171%20type%3Asimple_event" rel="external">External events</a>
<a href="http://www.actuaries.org.uk/events/pages/sessional-research-programme" rel="external">Sessional research programme</a>
	</div>
    <br />  
    </dd>            	

	<dt>[7.2] Events in 2011</dt>
	<dd>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/events/one-day/giro-conference-and-exhibition-2010-actuarial-impact-rising-challenge" rel="external">GIRO conference</a>
<a href="http://www.actuaries.org.uk/events/residential/pensions-conference-2011" rel="external">Pensions conference</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/events/residential/health-and-care-conference-2011-1" rel="external">Health and care conference</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/events/residential/risk-and-investment-conference-2011" rel="external">Risk and investment conference</a>
	</div>
    <br />  
    </dd>            	

</dl>
 