<h3 id="Members" class="pbbefore">[3] Members</h3>
<dl>
	<dt>[3.1] Member administration</dt>
	<dd>
	<div class="colsplit3">
	<a href="https://www.actuaries.org.uk/user" rel="external">Log in (for full member search)</a>
	<a href="http://www.actuaries.org.uk/my-account/edit" rel="external">Edit account details (log in first)</a>
	<a href="http://www.actuaries.org.uk/my-account/wam/Q2xhc3NpZmljLmV4ZQ__3D__3D" rel="external">Edit my profile (log in first)</a>
	</div>
	<div class="colsplit3">
	<a href="http://www.actuaries.org.uk/my-account/wam/bWVtYmVyc2RpcmVjdG9yeS5leGU__3D" rel="external">Quick member search</a>
	<a href="http://www.actuaries.org.uk/members/pages/subscription-information" rel="external">Subscription information</a>
	</div>
	<div class="colsplit3">
	<a href="http://www.actuaries.org.uk/news/pages/newsletters" rel="external">Newsletters</a>
	<a href="http://www.actuaries.org.uk/members/pages/ealerts" rel="external">eAlerts</a>        
	</div>
    <br />  
    </dd>            	

	<dt>[3.2] Continuing Professional Development (CPD)</dt>
	<dd>
	<div class="colsplit3">
	<a href="http://www.actuaries.org.uk/members/pages/continuing-professional-development-scheme" rel="external">CPD scheme</a>
	<a href="http://www.actuaries.org.uk/members/pages/guide-cpd-compliance" rel="external">Guide to CPD compliance</a>
	<a href="http://www.actuaries.org.uk/members/pages/how-gain-cpd-hours" rel="external">How to gain CPD hours</a>
	</div>
	<div class="colsplit3">
	<a href="http://www.actuaries.org.uk/members/pages/cpd-events" rel="external">CPD events</a>
	<a href="http://www.actuaries.org.uk/members/pages/reporting-and-recording-cpd" rel="external">Reporting and recording CPD</a>
	</div>
	<div class="colsplit3">
	<a href="http://www.actuaries.org.uk/members/pages/cpd-co-ordinators" rel="external">CPD Co-ordinators</a>
	<a href="http://www.actuaries.org.uk/members/pages/cpd-co-ordinators%E2%80%99-handbook" rel="external">CPD Co-ordinators' handbook</a>
	</div>
    <br />
    </dd>            	

	<dt>[3.3] Member benefits, responsibilities and opportunities</dt>
	<dd>
	<div class="colsplit3">
    <a href="http://www.actuaries.org.uk/members/pages/member-benefits" rel="external">Member benefits</a>
    <a href="http://www.actuaries.org.uk/members/pages/just-qualified" rel="external">Just qualifieds</a>
    <a href="http://www.actuaries.org.uk/members/pages/career-development" rel="external">Career development</a>   
	</div>
	<div class="colsplit3">
	<a href="http://www.actuaries.org.uk/members/pages/getting-more-involved" rel="external">Getting more involved</a>
	<a href="http://www.actuaries.org.uk/members/pages/affiliate-membership" rel="external">Affiliate membership</a>
	</div>
	<div class="colsplit3">
    <a href="http://www.actuaries.org.uk/members/pages/mutual-recognition-qualifications" rel="external">Mutual recognition</a>
	<a href="http://www.actuaries.org.uk/members/pages/signing-documents-%E2%80%93-post-merger" rel="external">Signing documents post-merger</a>
    </div>
    <br />
    </dd>            	

	<dt>[3.4] Member interest groups (MIGs)</dt>
	<dd>
	<div class="colsplit3">
    <a href="http://www.actuaries.org.uk/members/pages/member-interest-groups" rel="external">Member interest groups</a>
	<a href="http://www.actuaries.org.uk/members/pages/topical-member-interest-groups" rel="external">Topical MIGs</a>
	</div>
	<div class="colsplit3">
    <a href="http://www.actuaries.org.uk/members/pages/regional-actuarial-societies-and-member-interest-groups" rel="external">Regional societies and MIGs</a>
    <a href="http://www.actuaries.org.uk/members/pages/proposed-new-member-interest-groups" rel="external">Proposed new MIGs</a>
	</div>
	<div class="colsplit3">
    <a href="http://www.actuaries.org.uk/members/pages/dining-clubs-0" rel="external">Dining clubs</a>
    <a href="http://www.actuaries.org.uk/members/pages/worshipful-company-actuaries" rel="external">Worshipful Company of Actuaries</a>
	</div>
    <br />
    </dd>            	

	<dt>[3.5] Topical MIGs</dt>
	<dd>
	<div class="colsplit3">
    <a href="http://www.actuaries.org.uk/members/pages/ageing-population-interest-group" rel="external">Ageing population</a>
    <a href="http://www.actuaries.org.uk/members/pages/banking-interest-group" rel="external">Banking</a>
    <a href="http://www.actuaries.org.uk/members/pages/damages-interest-group" rel="external">Damages</a>
	</div>
	<div class="colsplit3">
    <a href="http://www.actuaries.org.uk/members/pages/equity-release-interest-group" rel="external">Equity release</a>
    <a href="http://www.actuaries.org.uk/members/pages/financial-consumer-interest-group" rel="external">Financial planning and consumers</a>
    <a href="http://www.actuaries.org.uk/members/pages/global-financial-crisis-group" rel="external">Global financial crisis</a>
	</div>
	<div class="colsplit3">
    <a href="http://www.actuaries.org.uk/members/pages/resource-and-environment-member-interest-group" rel="external">Resource and environment</a>
    <a href="http://www.actuaries.org.uk/members/pages/risk-management-interest-group" rel="external">Risk management</a>
    <a href="http://www.actuaries.org.uk/members/pages/variable-annuities-member-interest-group" rel="external">Variable annuities</a>
	</div>
    <br />
    </dd>            	
</dl>
 