<h3 class="pbbefore">[4] Practice areas</h3>
<dl>
	<dt>[4.1] Enterprise risk management (ERM)</dt>
	<dd>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/about-enterprise-risk-management" rel="external">About ERM</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/erm-cpd" rel="external">Suggested ERM CPD</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/erm-general-resources" rel="external">ERM general resources</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/enterprise-risk-management-bibliography" rel="external">ERM bibliography</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/erm-reference-sites" rel="external">ERM reference sites</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/erm-research-sites" rel="external">ERM research sites</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/general-links-interest-enterprise-risk-management" rel="external">ERM general links</a>
	</div>

	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/market-risk-cpd-resources-enterprise-risk-management" rel="external">Market risk</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/credit-risk-cpd-resources-enterprise-risk-management" rel="external">Credit risk</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/insurance-risk-cpd-resources-enterprise-risk-management" rel="external">Insurance risk</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/liquidity-risk-cpd-resources-enterprise-risk-management" rel="external">Liquidity risk</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/operational-risk-cpd-resources-enterprise-risk-management" rel="external">Operational risk</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/strategic-risk" rel="external">Strategic risk</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/accounting-regulatory-capital-and-frictional-risk-cpd-resources-enterprise-risk" rel="external">Other risk types</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/aggregate-and-economic-capital-cpd-resources-enterprise-risk-management" rel="external">Aggregation and capital</a>
	</div>

	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/useful-contacts" rel="external">ERM contacts</a><a href="http://www.actuaries.org.uk/practice-areas/pages/erm-practice-executive-committee" rel="external">ERM Executive committee</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/enterprise-risk-management-erm-strategic-plan" rel="external">Strategic plan</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/research-and-resources" rel="external">Current ERM projects</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/st9-enterprise-risk-management-specialist-technical-subject" rel="external">ST9 ERM course</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/erm-guide-implementation" rel="external">A guide to ERM implementation</a>
	</div>

    <br />  
    </dd>            	

	<dt>[4.2] Finance and investment</dt>
	<dd>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/pages/about-finance-and-investment" rel="external">About finance and investment</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/finance-investment-cpd" rel="external">Finance and investment CPD</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/research-finance-and-investment-area" rel="external">Research</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/finance-and-investment-practice-executive-committee" rel="external">Executive committee</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/mentors" rel="external">Mentors</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/career-models" rel="external">Career models</a>
	</div>
    <br />  
    </dd>            	

	<dt>[4.3] General insurance [Abbreviations: WP = working party, comm = committee]</dt>
	<dd>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/about-general-insurance" rel="external">About general insurance</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/general-insurance-cpd" rel="external">General insurance CPD</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/useful-contacts-1" rel="external">General insurance committees</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/research-giro" rel="external">General insurance research</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/general-insurance-research-organising-committee-giro" rel="external">Research organising committee</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/general-insurance-reserving-oversight-committee-gi-roc" rel="external">GI ROC - reserving 
oversight</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/general-insurance-reserving-oversight-committee-gi-roc-0" rel="external">GI ROC - detailed work</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/effectiveness-reserving-methods-working-party" rel="external">Reserving methods WP</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/general-insurance-premium-rating-issues-working-party" rel="external">GRIP - Premium Rating WP</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/general-insurance-practice-executive-committee" rel="external">Executive committee</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/general-insurance-practice-executive-committee" rel="external">Accounting and regulatory comm</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/communications-committee" rel="external">Communications comm</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/general-insurance-education-and-cpd-committee" rel="external">Education and CPD comm</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/general-insurance-professional-standards-committee" rel="external">Professional standards comm</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/general-insurance-solvency-ii-group" rel="external">Solvency II group</a>
	</div>
    <br />  
    </dd>            	

	<dt>[4.4] Health and care</dt>
	<dd>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/health-care" rel="external">Health and care</a><a href="http://www.actuaries.org.uk/practice-areas/pages/about-health-and-care" rel="external">About health and care</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/health-care-cpd" rel="external">Health and care CPD</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/useful-contacts-2" rel="external">Useful contacts</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/research-0" rel="external">Research</a>
	</div>
    <br />  
    </dd>            	

	<dt>[4.5] Life insurance</dt>
	<dd>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/life-insurance" rel="external">Life insurance</a><a href="http://www.actuaries.org.uk/practice-areas/pages/about-life-insurance" rel="external">About Life insurance</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/life-insurance-cpd-0" rel="external">Life insurance CPD</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/life-cpd-committee" rel="external">CPD committee</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/life-practice-executive-committee" rel="external">Life executive committee</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/useful-contacts-0" rel="external">Useful contacts</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/life-standards-and-consultations-committee" rel="external">Standards committee</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/life-solvency-ii-working-party" rel="external">Life Solvency II WP</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/life-research-committee" rel="external">Research committee</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/research-1" rel="external">Research</a>
	</div>
    <br />  
    </dd>            	

	<dt>[4.6] Pensions</dt>
	<dd>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/pensions" rel="external">Pensions</a><a href="http://www.actuaries.org.uk/practice-areas/pages/about-pensions" rel="external">About Pensions</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/pensions-cpd" rel="external">Pensions CPD</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/useful-contacts-5" rel="external">Useful contacts</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/pensions-practice-executive-committee-2" rel="external">Pensions executive committee</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/pensions-communications-group" rel="external">Communications group</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/pensions-consultations-group" rel="external">Consultations group</a><a href="http://www.actuaries.org.uk/practice-areas/pages/international-consultations-working-group" rel="external">International consultations WG</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/pensions-accounting-working-group" rel="external">Pensions accounting WG</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/practice-areas/pages/pensions-cpd-group" rel="external">CPD group</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/pensions-research-group" rel="external">Research group</a>
<a href="http://www.actuaries.org.uk/practice-areas/pages/research" rel="external">Research</a>
	</div>
    <br />  
    </dd>            	
</dl>
