<h3 class="pbbefore">[8] Regulation</h3>
<dl>
	<dt>[8.1] Professional standards</dt>
	<dd>
	<div class="colsplit3">
		<a href="http://www.actuaries.org.uk/regulation/pages/actuaries-code" rel="external">The Actuaries&#039; Code</a>
        <a href="http://www.actuaries.org.uk/regulation/pages/statutory-roles-and-criteria-practising-certificates" rel="external">Practising certificates</a>
		<a href="http://www.actuaries.org.uk/regulation/pages/consultation-and-discussion-papers" rel="external">Consultation &amp; discussion papers</a>        
		<a href="http://www.actuaries.org.uk/regulation/pages/professional-standards-directory" rel="external">Professional standards directory</a>
	</div>
	<div class="colsplit3">
        <a href="http://www.frc.org.uk/bas/index.cfm" rel="external">BAS home page</a>        
        <a href="http://www.frc.org.uk/bas/standards/index.cfm" rel="external">BAS standards</a>
        <a href="http://www.frc.org.uk/bas/publications/pub2401.html" rel="external">BAS FAQs</a>
        <a href="http://www.frc.org.uk/bas/standards/tas.cfm" rel="external">BAS TASs</a>
	</div>
	<div class="colsplit3">
        <a href="http://www.actuaries.org.uk/regulation/pages/information-and-assistance-notes" rel="external">Information and assistance notes</a>
        <a href="http://www.actuaries.org.uk/regulation/pages/interpretation-service" rel="external">Interpretation Service</a>
	</div>
    <br />  
    </dd>            	

	<dt>[8.2] When  things go wrong</dt>
	<dd>
	<div class="colsplit3">
        <a href="http://www.actuaries.org.uk/regulation/pages/complaints" rel="external">Complaints</a>
        <a href="http://www.actuaries.org.uk/regulation/pages/how-complain-about-member" rel="external">How to complain about an actuary</a>
        <a href="http://www.actuaries.org.uk/regulation/pages/information-members-who-are-facing-allegation-under-our-disciplinary-scheme" rel="external">For actuaries facing a complaint</a>
	</div>
	<div class="colsplit3">
        <a href="http://www.actuaries.org.uk/regulation/pages/disciplinary-procedures" rel="external">Disciplinary procedures</a>
        <a href="http://www.actuaries.org.uk/regulation/pages/disciplinary-board" rel="external">Disciplinary board</a>
	</div>
	<div class="colsplit3">
        <a href="http://www.actuaries.org.uk/regulation/pages/forthcoming-hearings" rel="external">Forthcoming hearings</a>
        <a href="http://www.actuaries.org.uk/regulation/pages/regulationprofessional-conduct-and-disciplinedeterminations" rel="external">Past disciplinary determinations</a>
	</div>
    <br />  
    </dd>            	
</dl>

