<h3 class="pbbefore">[5] Research</h3>

<dl>
<dt>[5.1] Research and resources</dt>
	<dd>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/research-and-resources/news" rel="external">News</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/research" rel="external">Research</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/strategy" rel="external">Strategy</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/research-and-resources/pages/research-working-parties" rel="external">Research working parties</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/how-get-involved" rel="external">How to get involved</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/calls-and-current-projects" rel="external">Calls and current projects</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/research-and-resources/pages/call-interdisciplinary-research-mortalitylongevitymorbidity" rel="external">Mortality (etc) call for research</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/university-research" rel="external">University research</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/call-research-erm-uk-actuarial-profession" rel="external">ERM call for research</a>
	</div>
    <br />  
    </dd>            	

<dt>[5.2] Continuous Mortality Investigation (CMI)</dt>
	<dd>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/research-and-resources/pages/continuous-mortality-investigation-news" rel="external">CMI news</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/continuous-mortality-investigation-latest-publications" rel="external">CMI latest publications</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/continuous-mortality-investigation-committees" rel="external">CMI Committees</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/continuous-mortality-investigation-data" rel="external">CMI data</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/research-and-resources/pages/continuous-mortality-investigation-working-papers" rel="external">CMI working papers</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/continuous-mortality-investigation-presentations" rel="external">CMI presentations</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/continuous-mortality-investigation-reports" rel="external">CMI reports</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/base-mortality-tables-produced-cmi" rel="external">CMI tables</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/research-and-resources/pages/continuous-mortality-investigation-annual-activity-reports-and-accounts" rel="external">Activity reports and accounts</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/gender-differentials" rel="external">Gender differentials</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/lifetime-mortgages" rel="external">Lifetime mortgages</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/cmi-faqs" rel="external">CMI FAQs</a>
	</div>
    <br />  
    </dd>            	

<dt>[5.3] Miscellaneous research material</dt>
	<dd>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/research-and-resources/faqs" rel="external">Research and resources FAQs</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/reading-lists" rel="external">Reading lists</a>
<a href="http://www.actuaries.org.uk/research-and-resources/eshop" rel="external">eShop</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/library-services" rel="external">Library services</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/research-and-resources/pages/journals" rel="external">Journals</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/consultation-responses" rel="external">Consultation responses</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/links-other-sites" rel="external">Links to other sites</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/research-and-resources/pages/thought-leadership-0" rel="external">Thought leadership</a>
<a href="http://www.actuaries.org.uk/research-and-resources/pages/actuarial-heritage-collections-and-history" rel="external">Actuarial heritage and history</a>
<a href="http://www.actuaries.org.uk/research-and-resources/find-actuarial-firm" rel="external">Find an actuarial firm</a>
	</div>
    <br />  
    </dd>            	
</dl>