<h3 id="Students" class="pbbefore">[2] Students</h3>
<dl>
	<dt>[2.1] Education and exams</dt>
	<dd>
	<div class="colsplit3">
    <a href="http://www.actuaries.org.uk/students/pages/student-calendar" rel="external">The education and exam year</a>
	<a href="http://www.actuaries.org.uk/students/pages/important-dates" rel="external">Exam dates: entry, sitting, results</a>
	<a href="http://www.actuaries.org.uk/students/pages/work-based-skills" rel="external">Work-based skills</a>
	<a href="http://www.actuaries.org.uk/students/pages/experience-requirement" rel="external">Experience requirement</a>
	<a href="http://www.actuaries.org.uk/students/pages/information-employers" rel="external">Guidance for employers</a>
	<a href="http://www.actuaries.org.uk/students/pages/helpful-contacts" rel="external">Education contacts</a>
   	<a href="http://www.actuaries.org.uk/students/pages/education-advisers" rel="external">International education advisers</a>
	<a href="http://www.actuaries.org.uk/students/pages/student-consultative-forum" rel="external">Student consultative forum</a>
	</div>
	<div class="colsplit3">
	<a href="http://www.actuaries.org.uk/students/pages/our-exams-explained" rel="external">Our exams explained</a>
	<a href="http://www.actuaries.org.uk/students/pages/syllabus-exams" rel="external">The exam syllabus</a>    
	<a href="http://www.actuaries.org.uk/students/pages/three-hour-exams" rel="external">Three hour exams</a>
   	<a href="http://www.actuaries.org.uk/students/pages/practical-exams" rel="external">Practical exams (ST9, CA2, CA3)</a>
	<a href="http://www.actuaries.org.uk/students/pages/uk-practice-modules" rel="external">UK practice modules</a>
	<a href="http://www.actuaries.org.uk/students/pages/certificate-financial-mathematics" rel="external">Certificate in financial maths</a>
	<a href="http://www.actuaries.org.uk/students/pages/certificate-derivatives" rel="external">Certificate in derivatives</a>
	<a href="http://www.actuaries.org.uk/becoming-actuary/pages/student-membership" rel="external">DAT and CFI certificates</a>
	</div>
	<div class="colsplit3">
    <a href="http://www.actuaries.org.uk/students/pages/exam-preparation" rel="external">Exam preparation</a>
	<a href="http://www.actuaries.org.uk/students/pages/past-exam-papers" rel="external">Past exam papers: links</a>
	<a href="http://www.actuaries.org.uk/students/pages/formulae-and-tables" rel="external">Formulae and tables</a>
	</div>
    <br />
    
    </dd>            	

	<dt>[2.2] Exams: subject by subject</dt>
	<dd>
	
	<div class="colsplit3">
    <a href="http://www.actuaries.org.uk/students/pages/ct1-financial-mathematics" rel="external">CT1: Financial mathematics</a>
    <a href="http://www.actuaries.org.uk/students/pages/ct2" rel="external">CT2: Finance and reporting</a>
    <a href="http://www.actuaries.org.uk/students/pages/ct3-probability-and-mathematical-statistics" rel="external">CT3: Probability and statistics</a>
<a href="http://www.actuaries.org.uk/students/pages/ct4-models" rel="external">CT4: Models</a>
<a href="http://www.actuaries.org.uk/students/pages/ct5-contingencies" rel="external">CT5: Contingencies</a>
<a href="http://www.actuaries.org.uk/students/pages/ct6-statistical-methods" rel="external">CT6: Statistical methods</a>
<a href="http://www.actuaries.org.uk/students/pages/ct7-business-economics" rel="external">CT7: Business economics</a>
<a href="http://www.actuaries.org.uk/students/pages/ct8-financial-economics" rel="external">CT8: Financial economics</a>
<a href="http://www.actuaries.org.uk/students/pages/ca1-actuarial-risk-management" rel="external">CA1: Actuarial risk management</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/students/pages/st1-health-and-care" rel="external">ST1: Health and care</a>
<a href="http://www.actuaries.org.uk/students/pages/st2-life-insurance-specialist-technical" rel="external">ST2: Life insurance</a>
<a href="http://www.actuaries.org.uk/students/pages/st4-pensions-and-other-benefits-specialist-technical" rel="external">ST4: Pensions</a>
<a href="http://www.actuaries.org.uk/students/pages/st5-finance-and-investment-specialist-technical" rel="external">ST5: Finance and investment A</a>
<a href="http://www.actuaries.org.uk/students/pages/st6-finance-and-investment-specialist-technical-b" rel="external">ST6: Finance and investment B</a>
<a href="http://www.actuaries.org.uk/students/pages/st7-general-insurance-reserving-and-capital-modelling-specialist-technical" rel="external">ST7: Gen ins: reserving &amp; capital</a>
<a href="http://www.actuaries.org.uk/students/pages/st8-general-insurance-pricing-specialist-technical" rel="external">ST8: General insurance: pricing</a>
<a href="http://www.actuaries.org.uk/students/pages/st9-enterprise-risk-management-specialist-technical" rel="external">ST9: Enterprise risk management</a>
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/students/pages/sa1-health-and-care-specialist-applications" rel="external">SA1: Health and care</a>
<a href="http://www.actuaries.org.uk/students/pages/sa2-life-insurance-specialist-applications" rel="external">SA2: Life insurance</a>
<a href="http://www.actuaries.org.uk/students/pages/sa3-general-insurance-specialist-applications" rel="external">SA3: General insurance</a>
<a href="http://www.actuaries.org.uk/students/pages/sa4-pensions-and-other-benefits-specialist-applications" rel="external">SA4: Pensions and other benefits</a>
<a href="http://www.actuaries.org.uk/students/pages/sa5-finance-specialist-applications" rel="external">SA5: Finance</a>
<a href="http://www.actuaries.org.uk/students/pages/sa6-investment-specialist-applications" rel="external">SA6: Investment</a>
<a href="http://www.actuaries.org.uk/students/pages/st0-other-professional-qualifications" rel="external">ST0: Other prof qualifications</a>
<a href="http://www.actuaries.org.uk/students/pages/sa0-research-dissertation" rel="external">SA0: Research dissertation</a>
	</div>
    <br />

    </dd>            	


	<dt>[2.3] Additional exam material</dt>
	<dd>
	
	<div class="colsplit3">
   	<a href="http://www.actuaries.org.uk/students/pages/practical-exams" rel="external">Practical exams (ST9, CA2, CA3)</a>
	<a href="http://www.actuaries.org.uk/students/pages/business-awareness-subject-ct9" rel="external">CT9: Business awareness</a>															        					
	<a href="http://www.actuaries.org.uk/students/pages/online-exam-version-subject-ct9-business-awareness" rel="external">CT9: Online practical exam</a>
    <a href="http://www.actuaries.org.uk/students/pages/subject-ct9-frequently-asked-questions" rel="external">CT9: FAQs</a>
	<a href="http://www.actuaries.org.uk/students/pages/ca2" rel="external">CA2: Model documentation etc</a>
	<a href="http://www.actuaries.org.uk/students/pages/online-exam-version-subject-ca2" rel="external">CA2: Online practical exam</a>
	<a href="http://www.actuaries.org.uk/students/pages/subject-ca2-frequently-asked-questions" rel="external">CA2: FAQs</a>
	<a href="http://www.actuaries.org.uk/students/pages/communications-subject-ca3" rel="external">CA3: Communications</a>
<a href="http://www.actuaries.org.uk/students/pages/communications-subject-ca3-frequently-asked-questions" rel="external">CA3: FAQs</a> 
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/students/pages/sa5-learning-portal-articles" rel="external">SA5 Learning portal: articles</a>
<a href="http://www.actuaries.org.uk/students/pages/sa5-learning-portal-books" rel="external">SA5 Learning portal: books</a>
<a href="http://www.actuaries.org.uk/students/pages/sa5-learning-portal-journals" rel="external">SA5 Learning portal: journals</a>   
	</div>
	<div class="colsplit3">
<a href="http://www.actuaries.org.uk/students/pages/sa6-learning-portal-actuarial-standards" rel="external">SA6 Learning portal: actuarial stds</a>
<a href="http://www.actuaries.org.uk/students/pages/sa6-learning-portal-articles" rel="external">SA6 Learning portal: articles</a>
<a href="http://www.actuaries.org.uk/students/pages/sa6-learning-portal-books" rel="external">SA6 Learning portal: books</a>
<a href="http://www.actuaries.org.uk/students/pages/sa6-learning-portal-journals" rel="external">SA6 Learning portal: journals</a>
<a href="http://www.actuaries.org.uk/students/pages/sa6-learning-portal-glossary" rel="external">SA6 Learning portal: glossary</a>
    </div>
    <br />

    </dd>            	

	<dt>[2.4] Exam administration</dt>
	<dd>
	
	<div class="colsplit3">
	<a href="http://www.actuaries.org.uk/students/pages/exam-registration" rel="external">Exam registration</a>
	<a href="http://www.actuaries.org.uk/students/exam-centres" rel="external">Find an exam centre</a>
	<a href="http://www.actuaries.org.uk/students/pages/sitting-exams" rel="external">Sitting exams: your identity etc</a>
	</div>
	<div class="colsplit3">
	<a href="http://www.actuaries.org.uk/students/pages/exam-results" rel="external">Exam results</a>    
	<a href="http://www.actuaries.org.uk/students/pages/after-exams" rel="external">After the exams</a>    
	</div>
	<div class="colsplit3">
	<a href="http://www.actuaries.org.uk/students/pages/exam-appeals-policy" rel="external">Exam appeals policy</a>
	<a href="http://www.actuaries.org.uk/students/pages/exam-counselling-service" rel="external">Exam counselling service</a>
	</div>
    <br />

    </dd>            	

	<dt>[2.5] Exemptions from exams</dt>
	<dd>

	<div class="colsplit3">
	<a href="http://www.actuaries.org.uk/students/pages/university-courses-and-exemptions" rel="external">University courses</a>
    <a href="http://www.actuaries.org.uk/members/pages/mutual-recognition-qualifications" rel="external">Qualifications: mutual recognition</a>
    <a href="http://www.actuaries.org.uk/students/pages/institute-actuaries-australia-students" rel="external">Australian Institute</a>
	</div>
	<div class="colsplit3">
    <a href="http://www.actuaries.org.uk/students/pages/casualty-actuarial-society-students" rel="external">Casualty Actuarial Society</a>
    <a href="http://www.actuaries.org.uk/students/pages/institute-actuaries-india-students" rel="external">Indian Institute</a>
    <a href="http://www.actuaries.org.uk/students/pages/society-actuaries-students" rel="external">US Society of Actuaries</a>
	</div>
	<div class="colsplit3">
    <a href="http://www.actuaries.org.uk/students/pages/exemption-based-other-professional-qualifications" rel="external">Other qualifications</a>
	<a href="http://www.actuaries.org.uk/students/pages/frequently-asked-questions-exemptions" rel="external">Exemption FAQs</a>
	</div>
    <br />
    </dd>            	
</dl>