<div id="UKAPWlinks">
    <h2>Navigation</h2>
    <div class="info">
    <div>There are various ways to navigate this site:</div>
    <ul>
        <li>Use the menus at the top of each page</li>
        <li>Use "you are here" just below the menu</li>
        <li>Use the <a href="http://www.actuaries.org.uk/sitemap" rel="external">sitemap</a></li>
        <li>Use the <a href="http://www.actuaries.org.uk/search/apachesolr_search/" rel="external">site search</a></li>    
    </ul>
    <p><a href="http://www.google.co.uk/search?q=enterprise+risks+management+site%3Aactuaries.org.uk&amp;hl=en&amp;num=10" rel="external">Google advanced search</a> can also help</p>
    </div>
    
    <!-- InstanceEndEditable -->
    <h2>Related links: UKAPW</h2>
    <!-- InstanceBeginEditable name="UKAPW_Links" -->
    <div class="info">
    <h2>For those considering an actuarial career:</h2>
    <ul>
        <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/work-profession-shapes-how-world-operates-27-october-2010" rel="external">Work to shape the world (2010)</a></li>
        <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/work-profession-shapes-how-world-operates-2-february-2011" rel="external">Work to shape the world (2011)</a></li>    
        <li><a href="http://www.actuaries.org.uk/becoming-actuary/pages/what-does-actuary-do" rel="external">What does an actuary do?</a></li>    
        <li><a href="http://www.actuaries.org.uk/becoming-actuary/pages/meet-some-our-members" rel="external">Meet some of our members</a></li>        
        <li><a href="http://www.actuaries.org.uk/becoming-actuary/pages/get-taste-actuarial-work" rel="external">Get a taste of actuarial work</a></li>    <li><a href="http://www.actuaries.org.uk/becoming-actuary/pages/interactive-world-risk-0" rel="external">Explore the world of risk</a></li>    
        <li><a href="http://www.actuaries.org.uk/becoming-actuary/pages/careers-questions-answered" rel="external">Questions on starting an actuarial career</a></li>    
        <li><a href="http://www.actuaries.org.uk/becoming-actuary/pages/becoming-actuary" rel="external">Becoming an actuary</a></li>
    </ul>
    
    <h2>Practice areas</h2>
    <ul>
    <li><a href="http://www.actuaries.org.uk/practice-areas/pages/enterprise-risk-management" rel="external">Enterprise risk management</a></li>
    <li><a href="http://www.actuaries.org.uk/practice-areas/pages/finance-investment" rel="external">Finance and investment</a></li>
    <li><a href="http://www.actuaries.org.uk/practice-areas/pages/general-insurance" rel="external">General insurance</a></li>
    <li><a href="http://www.actuaries.org.uk/practice-areas/pages/health-care" rel="external">Health and care</a></li>
    <li><a href="http://www.actuaries.org.uk/practice-areas/pages/life-insurance" rel="external">Life insurance</a></li>
    <li><a href="http://www.actuaries.org.uk/practice-areas/pages/pensions" rel="external">Pensions</a></li>
    </ul>
    
    <h2>The site</h2>
    <ul>
    <li><a href="http://www.actuaries.org.uk/pages/site-features" rel="external">Site features</a></li>
    <li><a href="http://www.actuaries.org.uk/sitemap" rel="external">Site map</a></li>
    </ul>
    </div>
    
    
    <!-- InstanceEndEditable -->
    <h2>Other external links</h2>
    <!-- InstanceBeginEditable name="Block_2_Other" -->
    <div class="info">
    <ul>
            <li><a href="http://jobs.the-actuary.org.uk/" rel="external">Actuarial jobs</a></li>
            <li><a href="http://www.beanactuary.org/" rel="external">Be an actuary: career with no boundaries</a></li>
            <li><a href="http://www.beanactuary.com/college/computer.cfm" rel="external">Suggested computing skills</a></li>             
    </ul>
    <br />
    <ul>
    <li><a href="http://www.careercast.com/jobs-rated/10-best-jobs-2011" rel="external">Actuary: 3rd best job in 2011</a></li>
    <li><a href="http://www.reuters.com/article/2010/01/05/us-workplace-bestjobs-idUSTRE6045QV20100105" rel="external">Actuary: the best job in 2010</a></li>
    <li><a href="http://www.kent.ac.uk/ims/actuarial/invictasoc/presentations/February2010.ppt" rel="external">Future trends for future actuaries</a></li>
    <li><a href="http://www.telegraph.co.uk/finance/2722161/Actually-life-as-an-actuary-can-be-a-lot-of-fun.html" rel="external">2001: being an actuary was fun</a></li>
    <li><a href="http://www.the-actuary.org.uk/697544" rel="external">Looking back on a long actuarial career</a></li>
    </ul>
    </div>

    </div> <!-- end UKAPWlinks -->