<div id="UKAPWlinks">
    <h2>ERM and other practice areas</h2>
    <div class="info">
    <ul>
        <li><a href="http://www.actuaries.org.uk/practice-areas/pages/about-enterprise-risk-management" rel="external">Enterprise risk management</a></li>
        <li><a href="http://www.actuaries.org.uk/practice-areas/pages/erm-cpd" rel="external">Enterprise risk management CPD</a>    
            <ul>
                <li><a href="http://www.actuaries.org.uk/practice-areas/pages/erm-general-resources" rel="external">ERM general resources</a></li>
                <li><a href="http://www.actuaries.org.uk/practice-areas/pages/market-risk-cpd-resources-enterprise-risk-management" rel="external">Market risk CPD</a></li>            
                <li><a href="http://www.actuaries.org.uk/practice-areas/pages/credit-risk-cpd-resources-enterprise-risk-management" rel="external">Credit risk CPD</a></li>            
                <li><a href="http://www.actuaries.org.uk/practice-areas/pages/insurance-risk-cpd-resources-enterprise-risk-management" rel="external">Insurance risk CPD</a></li>
                <li><a href="http://www.actuaries.org.uk/practice-areas/pages/liquidity-risk-cpd-resources-enterprise-risk-management" rel="external">Liquidity risk CPD</a></li>
                <li><a href="http://www.actuaries.org.uk/practice-areas/pages/operational-risk-cpd-resources-enterprise-risk-management" rel="external">Operational risk CPD</a></li>
                <li><a href="http://www.actuaries.org.uk/practice-areas/pages/strategic-risk" rel="external">Strategic risk CPD</a></li>        
                <li><a href="http://www.actuaries.org.uk/practice-areas/pages/accounting-regulatory-capital-and-frictional-risk-cpd-resources-enterprise-risk" rel="external">Accounting (etc) risks CPD</a></li>
                <li><a href="http://www.actuaries.org.uk/practice-areas/pages/aggregate-and-economic-capital-cpd-resources-enterprise-risk-management" rel="external">Aggregation of risks CPD</a></li>                                         
            </ul>
        </li>
        <li><a href="http://www.actuaries.org.uk/practice-areas/pages/finance-investment" rel="external">Finance and investment</a>
        </li>
        <li><a href="http://www.actuaries.org.uk/practice-areas/pages/general-insurance" rel="external">General insurance</a>
        </li>  
        <li><a href="http://www.actuaries.org.uk/practice-areas/pages/health-care" rel="external">Health and care</a></li>
        <li><a href="http://www.actuaries.org.uk/practice-areas/pages/life-insurance" rel="external">Life insurance</a></li>
        <li><a href="http://www.actuaries.org.uk/practice-areas/pages/pensions" rel="external">Pensions</a></li>    
    </ul>
    </div>
    <!-- InstanceEndEditable -->
    <h2>Related links: UKAPW</h2>
    <!-- InstanceBeginEditable name="UKAPW_Links" -->
    <div class="info">
    <div>ERM</div>
    <ul>
        <li>Enterprise risk management (ERM)</li>
        <li><a href="http://www.actuaries.org.uk/practice-areas/pages/enterprise-risk-management" rel="external">ERM landing page</a></li>
        <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/enterprise-risk-management-its-origins-and-conceptual-foundation" rel="external">The origins of ERM</a></li>
        <li>Actuaries</li>
        <li><a href="http://www.actuaries.org.uk/sites/all/files/documents/pdf/d3bevan.pdf" rel="external">Actuaries: get business savvy</a></li>
        <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/personal-view-risk-management-non-financial-corporates-insurance-an" rel="external">Good ERM: making money safely</a></li>
        <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/actuaries-and-erm" rel="external">Actuaries and ERM</a></li>
        <li><a href="http://www.actuaries.org.uk/students/pages/st9-enterprise-risk-management-specialist-technical" rel="external">ST9: ERM specialist technical</a></li>
        <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/obtaining-designation-chartered-enterprise-risk-actuary-cera" rel="external">Obtaining the CERA qualification</a></li>    
        <li>Insurance ERM</li>
    <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/insurance-criteria-evaluating-enterprise-risk-management-practices-" rel="external">Evaluating the ERM practices of insurers</a></li>
        <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/governance-and-risk-management-uk-insurance-companies" rel="external">Governance in UK insurance companies</a></li>
        <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/practice-note-enterprise-risk-management-erm-capital-and-solvency-p" rel="external">Insurance industry ERM (IAA)</a></li>
    
        <li>Pensions and other ERM</li>
        <li><a href="http://www.actuaries.org.uk/research-and-resources/documents/entity-wide-risk-management-pension-funds" rel="external">Pension funds ERM</a></li>
        <li><a href="http://www.sias.org.uk/diary/view_meeting?id=October2010" rel="external">Risk Management for DB Pension Funds</a></li>    
        <li><a href="http://www2.standardandpoors.com/spf/pdf/fixedincome/615344ERM%20Analysis.pdf" rel="external">ERM and credit ratings: non-financial firms</a></li>
    </ul>
    
    </div>
    
    <!-- InstanceEndEditable -->
    <h2>Other external links</h2>
    <!-- InstanceBeginEditable name="Block_2_Other" -->
    <div class="info">
    <div>The first link below is particularly recommended, read alongside "Making money safely" above.</div>
    <ul>
    <li><a href="http://www.casact.org/pubs/forum/09wforum/ingram.pdf" rel="external">Actuaries and ERM</a></li>
    <li><a href="http://www.casact.org/research/erm/" rel="external">The Casualty Actuarial Society on ERM</a></li>
    <li><a href="http://www.casact.org/research/erm/overview.pdf" rel="external">CAS overview of ERM</a></li>
    <li><a href="http://www.casact.org/pubs/dpp/dpp05/05dpp1.pdf" rel="external">Risk management and capital allocation</a></li>
    <li><a href="http://www.paisley.com/website/pcweb.nsf/pages/ARAE-77SQQK/$File/SEVEN_STEPS_TO_ENTERPRISE_RISK_MANAGEMENT.PDF" rel="external">Seven steps to ERM</a></li>
            <li><a href="http://www.casact.org/pubs/forum/02sforum/02sf043.pdf" rel="external">ERM and portfolio optimisation</a></li>
            <li><a href="http://www.casact.org/pubs/forum/03sforum/03sf015.pdf" rel="external">Insurer risks: aggregation and correlation</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Enterprise_risk_management" rel="external">ERM: Wikipedia</a></li>
            <li><a href="http://www.casact.org/research/erm/overview.pdf" rel="external">ERM: Overview from CAS</a></li>
            <li><a href="http://www.ceraglobal.org/" rel="external">Chartered Enterprise Risk Analyst</a></li>
    </ul>
    </div>
    
    <h2>Risk management experts</h2>
    <div class="info">
    <ul>
    <li><a href="http://pages.stern.nyu.edu/~adamodar/" rel="external">Aswath Damodaran</a></li>
    <li><a href="http://riskviews.wordpress.com/contributors/dave-ingram/" rel="external">Dave Ingram</a></li>
    <li><a href="http://www.casact.org/research/erm/" rel="external">Bill Panning</a></li>
    <li>Matthew Leitch
        <ul>
        <li><a href="http://www.dynamicmanagement.me.uk/" rel="external">Dynamic management</a></li>
        <li><a href="http://www.internalcontrolsdesign.co.uk/" rel="external">Internal controls design</a></li>
        <li><a href="http://www.managedluck.co.uk/" rel="external">Managed luck</a></li>
        <li><a href="http://www.workinginuncertainty.co.uk/" rel="external">Working in uncertainty</a></li>
        </ul>
    </li>
    </ul>
    </div>
    
    
  </div>