<!-- RHS extra -->

<!-- RHS extra -->

<div id="Extlinks">
    <h2>Other external links</h2>
    <!-- InstanceBeginEditable name="External_Links" -->
    <div class="info">
        <div>Design your own positive alternative with these web resources:</div>
        <ul>
        <li><a href="http://www.amazon.co.uk/Dont-Make-Think-Usability-Circle-Com/dp/0789723107" rel="external">Don't make me think</a></li>
        <li><a href="http://www.webcredible.co.uk/user-friendly-resources/white-papers/" rel="external">Webcredible white papers</a></li>
        <li><a href="http://www.searchengineguide.com/stoney-degeyter/the-best-damn-web-marketing-checklist-pe.php" rel="external">The Best Damn Web Marketing Checklist.</a></li>
        <li><a href="http://www.webvanta.com/" rel="external">Webvanta</a></li>
        </ul>
        </div>
</div> <!-- close ExtLinks -->
