<div id="UKAPWlinks">
    <h2>Practice areas</h2>
    <div class="info">
    <ul>
    <li><a href="http://www.actuaries.org.uk/practice-areas/pages/enterprise-risk-management" rel="external">Enterprise risk management</a></li>
    <li><a href="http://www.actuaries.org.uk/practice-areas/pages/finance-investment" rel="external">Finance and investment</a></li>
    <li><a href="http://www.actuaries.org.uk/practice-areas/pages/general-insurance" rel="external">General insurance</a></li>
    <li><a href="http://www.actuaries.org.uk/practice-areas/pages/health-care" rel="external">Health and care</a></li>
    <li><a href="http://www.actuaries.org.uk/practice-areas/pages/life-insurance" rel="external">Life insurance</a></li>
    <li><a href="http://www.actuaries.org.uk/practice-areas/pages/pensions" rel="external">Pensions</a></li>
    </ul>
    </div>
    
    <!-- InstanceEndEditable -->
    <h2>Related links: UKAPW</h2>
    <!-- InstanceBeginEditable name="UKAPW_Links" -->
    <div class="info">
    <div>Community areas: log in to access these</div>
    <ul>
    <li><a href="http://www.actuaries.org.uk/communities/communities/erm" rel="external">Enterprise risk management</a></li>
    <li><a href="http://www.actuaries.org.uk/communities/finance-and-investment/finance-and-investment" rel="external">Finance and investment</a></li>
    <li><a href="http://www.actuaries.org.uk/communities/communities/general-insurance" rel="external">General insurance</a></li>
    <li><a href="http://www.actuaries.org.uk/communities/health-and-care/health-and-care" rel="external">Health and care</a></li>
    <li><a href="http://www.actuaries.org.uk/communities/life-insurance/life-insurance" rel="external">Life insurance</a></li>
    <li><a href="http://www.actuaries.org.uk/communities/communities/pensions-community" rel="external">Pensions</a></li>
    </ul>
    <br />
    <ul>
    <li><a href="http://www.actuaries.org.uk/communities/member-interest-groups" rel="external">Member interest groups</a></li>
    <li><a href="http://www.actuaries.org.uk/communities/communities/students" rel="external">Students</a></li>
    <li><a href="http://www.actuaries.org.uk/communities/examiners" rel="external">Examiners</a></li>
    <li><a href="http://www.actuaries.org.uk/communities/other" rel="external">Other</a></li>
    </ul>
    </div>
    
    <!-- InstanceEndEditable -->
    <h2>Other external links</h2>
    <!-- InstanceBeginEditable name="Block_2_Other" -->
    <div class="info">
    <ul>
            <li><a href="http://jobs.the-actuary.org.uk/" rel="external">Actuarial jobs</a></li>
            <li><a href="http://www.beanactuary.org/" rel="external">Be an actuary: career with no boundaries</a></li>
            <li><a href="http://www.beanactuary.com/college/computer.cfm" rel="external">Suggested computing skills</a></li>
            <li><a href="http://workspace.imperial.ac.uk/careers/Public/AUDIO_VISUAL/Towers%20Watson%20-%20%20An%20Introduction%20to%20Actuarial%20Consulting.pdf" rel="external">An Introduction to Actuarial Consulting</a></li>        
    <li><a href="http://www.youtube.com/watch?v=IuOcTivycmM" rel="external">Actuaries on YouTube</a></li>
    <li><a href="http://www.the-actuary.org.uk/866175" rel="external">Pastures new</a></li>
    <li><a href="http://www.financial-ombudsman.org.uk/news/speech/merricks.pdf" rel="external">What does the public expect of actuaries?</a></li>
    
    
    </ul>
    <br />
    <ul>
    <li><a href="http://www.careercast.com/jobs-rated/10-best-jobs-2011" rel="external">Actuary: 3rd best job in 2011</a></li>
    <li><a href="http://www.reuters.com/article/2010/01/05/us-workplace-bestjobs-idUSTRE6045QV20100105" rel="external">Actuary: the best job in 2010</a></li>
    <li><a href="http://www.kent.ac.uk/ims/actuarial/invictasoc/presentations/February2010.ppt" rel="external">Future trends for future actuaries</a></li>
    <li><a href="http://www.telegraph.co.uk/finance/2722161/Actually-life-as-an-actuary-can-be-a-lot-of-fun.html" rel="external">2001: being an actuary was fun</a></li>
    <li><a href="http://www.the-actuary.org.uk/697544" rel="external">Looking back on a long actuarial career</a></li>
    </ul>
    </div>
  </div>