<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Actuaries: we can do better</title>
    <meta name="description" content="The alternative UK actuarial website" />

    <script type="text/javascript" src="/js/toggle.js"></script>
    <script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>

    <link rel="stylesheet" href="/css/ShowHide.css" type="text/css" /> 
    <link rel="stylesheet" type="text/css" href="/css/Tables.css" media="all" />
    {% if page.LHS %}
      <link rel="stylesheet" type="text/css" href="/css/OTLFixed312.css" media="all" />
    {% else %}
      <link rel="stylesheet" type="text/css" href="/css/OTLFixed12.css" media="all" />
    {% endif %}
      <link rel="stylesheet" type="text/css" href="/css/print.css" media="print" /> 
  </head>

    {% include megamenu.html %}   <!-- gives horizontal scroll bar-->

<!-- 
<head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" type="text/css" href="/css/OTLFixed312.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/print.css" media="print" /> 

  </head>
-->
<!-- InstanceBeginEditable name="BodyID" -->
<!-- <body id="Home"> Instead incorporate front matter here -->
<!-- InstanceEndEditable -->
<!--  <body> -->

    {% if page.bodyID %}
      <body id="{{ page.bodyID }}">
    {% else %}
      <body>
    {% endif %}


    <main id="content" class="main-content">
     
      <div id="breadcrumb"> 
        <p>You are here: <!-- <a href="/" class="home">myFIA Home</a> -->
        
        {% if page.breadcrumb %}
          <a href="/" class="home">myFIA Home</a> &gt; {{ page.breadcrumb }}
        {% else %}
          myFIA Home
        {% endif %}
        
        </p>

        {% include incDropMenu.html %}
      </div>

<div id="wrapper">

  <!-- the columns appear strangely ordered, but it's all handled with floats -->
    {% if page.RHS1 %}
      <div id="block_2"> <!-- this is actually the third column -->
        {% include {{page.RHS1}} %}
        {% if page.RHS2 %}
          {% include {{page.RHS2}} %}
        {% endif %}
      </div> <!-- end block_2 -->
    {% endif %}

    {% if page.LHS %}
    <div id="block_3">
    {% include incFunctionality.html %} <!-- this is the first column ... -->
    </div>
    {% endif %}
  
  <div id="block_1">
    {{ content }}  <!-- this is the 2nd (typically central) content column ... -->
  </div> <!-- end block_1 -->

</div><!-- close div#wrapper -->      

    </main>
    {% include footer.html %}
  </body>
</html>
